.section_box{
     padding: 8px;
    border: solid 1px #D6D6D6;
    margin-bottom: 15px;
}
.carousel-control.left,
.carousel-control.right {
    background: none;
}
.carousel-control {
    bottom: 0;
    color: #fff;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 0;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -6px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -6px;
}
.carousel {
    padding: 5px 4%;
}

.carousel-control {
    color: #969696;
    font-size: 20px;
    opacity: 0.5;
    text-shadow: none;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    font-size: 20px;
    height: 20px;
    margin-top: -15px;
    width: 20px;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #666;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
        position: absolute; 
        top: 0; 
        left: 0; 
        height: 100%;
        width: 100%;
 }      
 
 @media only screen and (max-width: 767px) {
    .exec-form .m3 {
    text-align: left;
}
.banner__account__link--login {
    display: block;
    height: 40px;
}
.button--dark{
     margin: 0 0 10px;
}
.modal{
    text-align: left !important;
}
.exec-dropdown p, .exec-form p {
    margin-bottom: 12px;
}
.exec-dropdown .dropdown-menu {
    min-width: 280px;
}
.nav > li > a {
    padding: 7px;
}
.nav {
    font-size: 14px;
}
 }  