@font-face {
font-family:"icons";
src:url('../fonts/icons.eot?69f726df8b9db86167c6a2949928cf4c');
src:url('../fonts/icons.eot?69f726df8b9db86167c6a2949928cf4c') format("embedded-opentype"), url('../fonts/icons.woff?0cd231149b1aace0a38e565580a2b125') format("woff"), url('../fonts/icons.ttf?53ce1b61b880b9eee37cf657577fdb78') format("truetype");
font-weight:normal;
font-style:normal
}
@font-face {
font-family:"Helvetica Neue Custom";
src:url("/fonts/hn-045-n.eot");
src:url("/fonts/hn-045-n.eot?#iefix") format("embedded-opentype"), url("/fonts/hn-045-n.woff") format("woff"), url("/fonts/hn-045-n.ttf") format("truetype");
font-weight:300
}
@font-face {
font-family:"Helvetica Neue Custom";
src:url("/fonts/hn-055-n.eot");
src:local("Helvetica Neue"), url("/fonts/hn-055-n.eot?#iefix") format("embedded-opentype"), url("/fonts/hn-055-n.woff") format("woff"), url("/fonts/hn-055-n.ttf") format("truetype");
font-weight:400
}
@font-face {
font-family:"Helvetica Neue Custom";
src:url("/fonts/hn-075-n.eot");
src:local("Helvetica Neue Bold"), local("Helvetica Neue"), url("/fonts/hn-075-n.eot?#iefix") format("embedded-opentype"), url("/fonts/hn-075-n.woff") format("woff"), url("/fonts/hn-075-n.ttf") format("truetype");
font-weight:700
}
@font-face {
font-family:"Helvetica Neue Custom";
src:url("/fonts/hn-085-n.eot");
src:url("/fonts/hn-085-n.eot?#iefix") format("embedded-opentype"), url("/fonts/hn-085-n.woff") format("woff"), url("/fonts/hn-085-n.ttf") format("truetype");
font-weight:900
}/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
@font-face {
	font-family: 'Arial Rounded MT';
	src: url('./616.eot');
	src: local('616'), url('./616.woff') format('woff'), url('./616.ttf') format('truetype');
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display:block
}
audio, canvas, video {
	display:inline-block
}
audio:not([controls]) {
display:none;
height:0
}
[hidden] {
display:none
}
html {
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
body {
	margin:0
}
a:focus {
	outline:thin dotted
}
a:active, a:hover {
	outline:0
}
h1 {
	font-size:2em;
	margin:0.67em 0
}
abbr {
	border-bottom:1px dotted
}
b, strong {
	font-weight:bold
}
dfn {
	font-style:italic
}
hr {
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0
}
mark {
	background:#ff0;
	color:#000
}
code, kbd, pre, samp {
	font-family:monospace, serif;
	font-size:1em
}
pre {
	white-space:pre-wrap
}
q {
	quotes:"\201C" "\201D" "\2018" "\2019"
}
small {
	font-size:80%
}
sub, sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
img {
	border:0
}
svg:not(:root) {
overflow:hidden
}
figure {
	margin:0
}
fieldset {
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em
}
legend {
	border:0;
	padding:0
}
button, input, select, textarea {
	font-family:inherit;
	font-size:100%;
	margin:0
}
button, input {
	line-height:normal
}
button, select {
	text-transform:none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled], html input[disabled] {
	cursor:default
}
input[type="checkbox"], input[type="radio"] {
	box-sizing:border-box;
	padding:0
}
input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance:none
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
textarea {
	overflow:auto;
	vertical-align:top
}
table {
	border-collapse:collapse;
	border-spacing:0
}
* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
html {
	font-size:87.5%;
	line-height:1.5
}
body {
	background:#e3e3e3;
	color:#333;
	font-family:"Helvetica Neue Custom", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:400
}
body, input, select {
	font-smooth:always;
	-webkit-font-smoothing:antialiased
}
a {
	color:#333;
	text-decoration:underline;
	-moz-transition:color 0.2s;
	-o-transition:color 0.2s;
	-webkit-transition:color 0.2s;
	transition:color 0.2s
}
.inverse a {
	color:#fff
}
a:hover {
	color:#333
}
.inverse a:hover {
	color:#fff
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	margin:0
}
hr {
	width:100%;
	height:1px;
	border:none;
	border-top:1px solid #f3f3f3;
	background:#fff;
	margin-bottom:20px
}
dl, p, ol, ul {
	margin:0 0 1.5em
}

/***************** Forms ************************/

.exec-form .form-control{
    margin-bottom: 10px;
}
.exec-form .auth-prompt__header__title,
.exec-dropdown .auth-prompt__header__title{
    margin-bottom: 15px;
}
.exec-dropdown p,
.exec-form p
{
    line-height: 24px;
}
.nav-tabs > li > a{
    text-decoration: none;
}
.nav-tabs > li > a:focus {
    outline: none;
}
.tab-content{
    padding: 10px;
}
.exec-form .m3 {
    margin-bottom: 10px;
}
.exec-form  .form-label {
    line-height: 20px;
    margin-bottom: 5px;
}
.exec-dropdown .dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: auto;
    right: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 620px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}
.forgot-pass {
    display: block;
    font-size: 12px;
    line-height: 20px;
    margin-top: -2px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.form-checkbox {
	display:block;
	padding-left:20px
}
.form-checkbox__input {
	float:left;
	margin-left:-20px;
	position:relative;
	top:4px
}
.form-checkbox--inline {
	display:table-cell;
	height:40px;
	vertical-align:middle
}
.modal {
    z-index: 100000555 !important;
}
.form-control {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
*zoom:1;
*display:inline;
	background:#FFF;
	border:1px solid #ddd;
	color:#333;
	font-family:"Helvetica Neue Custom", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:400;
	height:40px;
	padding:10px 10px;
	vertical-align:middle;
	width:100%
}
.form-control:focus {
	border-color:rgba(168, 203, 236, 0.8);
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(168, 203, 236, 0.6);
	outline:0 none;
	outline:-webkit-focus-ring-color auto 5px
}
textarea.form-control {
	height:auto
}

/***************** Inner pages ************************/
.pages-main {
    padding: 10px 0;
}
.pages-main {
    border-top: 2px solid #f2f2f2;
}
.breadcrumb, .breadcrumb__link {
    color: #999;
}
.m4 {
    margin-bottom: 10px;
}

.form-control--dropdown {
	text-align:left;
	text-decoration:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAXBAMAAADq5DJkAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURQAAADIyMiYmJjIyMjAwMDMzMzExMczMzG/7/KwAAAAHdFJOUwCoC4YjllkQbp1YAAAARklEQVQY02MoYEAB9OYyGTswMDgbwbgsgiEMLIEicFlDUQdXQbgsg7JgSKCwApzLZCgIlESYrCwIlERwmQyNUOxVUaCjBwG62A+AiSlt5gAAAABJRU5ErkJggg==") right 15px center no-repeat, -moz-linear-gradient(#ffffff, #f8f8f8);
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAXBAMAAADq5DJkAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURQAAADIyMiYmJjIyMjAwMDMzMzExMczMzG/7/KwAAAAHdFJOUwCoC4YjllkQbp1YAAAARklEQVQY02MoYEAB9OYyGTswMDgbwbgsgiEMLIEicFlDUQdXQbgsg7JgSKCwApzLZCgIlESYrCwIlERwmQyNUOxVUaCjBwG62A+AiSlt5gAAAABJRU5ErkJggg==") right 15px center no-repeat, -o-linear-gradient(#ffffff, #f8f8f8);
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAXBAMAAADq5DJkAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURQAAADIyMiYmJjIyMjAwMDMzMzExMczMzG/7/KwAAAAHdFJOUwCoC4YjllkQbp1YAAAARklEQVQY02MoYEAB9OYyGTswMDgbwbgsgiEMLIEicFlDUQdXQbgsg7JgSKCwApzLZCgIlESYrCwIlERwmQyNUOxVUaCjBwG62A+AiSlt5gAAAABJRU5ErkJggg==") right 15px center no-repeat, -webkit-linear-gradient(#ffffff, #f8f8f8);
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAXBAMAAADq5DJkAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURQAAADIyMiYmJjIyMjAwMDMzMzExMczMzG/7/KwAAAAHdFJOUwCoC4YjllkQbp1YAAAARklEQVQY02MoYEAB9OYyGTswMDgbwbgsgiEMLIEicFlDUQdXQbgsg7JgSKCwApzLZCgIlESYrCwIlERwmQyNUOxVUaCjBwG62A+AiSlt5gAAAABJRU5ErkJggg==") right 15px center no-repeat, linear-gradient(#ffffff, #f8f8f8);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	padding-right:50px;
	padding-top:8px;
	padding-bottom:8px;
	line-height:22px;
	text-indent:1px;
	text-overflow:'';
	position:relative
}
.form-control--dropdown::-ms-expand {
display:none
}
@-moz-document url-prefix() {
select.form-control--dropdown {
background-image:none;
border-radius:0
}
}
.form-control--disabled, .form-control[disabled] {
	border-color:#DDD;
	color:#666;
	opacity:0.6
}
.form-control--error {
	border-color:#bf0c00
}
.form-group {
	display:block;
	margin-bottom:25px
}
.form-label {
	font-size:13px;
	font-size:0.92857rem;
	display:block;
	font-weight:700;
	margin-bottom:5px
}
.form-label--required:after {
	content:"*";
	color:#e62b1e
}
.form-error {
	color:#bf0c00;
	margin-top:2px
}
.form-errors {
	background-color:#bf0c00;
	padding:20px;
	margin-bottom:20px
}
.form-errors--attached {
	margin-bottom:0;
	border-bottom:none
}
.input-group {
	display:table
}
.input-group .form-control {
	display:table-cell;
	width:100%
}
.input-group__addon {
	display:table-cell;
	width:1%
}
.input-overlay {
	position:relative
}
.input-overlay .form-control {
	padding-right:40px
}
.input-overlay__addon {
	pointer-events:none;
	text-align:center;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-12px;
	width:40px
}
.input-overlay__addon .icon {
	width:24px;
	height:24px;
	line-height:25px;
	font-size:24px
}
@media only screen and (min-width: 600px) {
select.form-control--dropdown {
padding-top:10px;
padding-bottom:10px;
line-height:normal
}
}
@media only screen and (min-width: 1024px) {
.form-control {
font-size:15px
}
.form-control--small {
font-size:13px
}
}
.area--dark {
	background:#111
}
.area--shaded {
	background:#f3f3f3
}
.page {
*zoom:1;
	background:#fff
}
.page:after {
	content:"";
	display:table;
	clear:both
}
.main--border {
	border-top:2px solid #f2f2f2
}
.clearfix {
*zoom:1
}
.clearfix:after {
	content:"";
	display:table;
	clear:both
}
.copy {
	max-width:62em
}
.container {
*zoom:1;
	clear:both;
	float:none;
	margin:0 auto;
	max-width:1240px;
	padding:0 20px;
	position:relative
}
.container:after {
	content:"";
	display:table;
	clear:both
}
.image {
	margin-bottom:10px;
	max-width:100%
}
.inverse {
	color:#fff
}
.hidden {
	display:none
}
.hyphens {
	word-wrap:break-word;
	overflow-wrap:break-word
}
.invisible {
	visibility:hidden
}
.module>*:last-child, .module>*:last-child>*:last-child, .module>*:last-child>*:last-child>*:last-child {
	margin-bottom:0
}
.text-center {
	text-align:center
}
.text-justify {
	text-align:justify
}
.text-left {
	text-align:left
}
.text-right {
	text-align:right
}
.relative {
	position:relative
}
.screen-reader-text {
	left:-9999px;
	position:absolute;
	top:-9999px
}
.sl {
	list-style:none;
	margin:0;
	padding:0
}
.pl {
	list-style-position:inside;
	margin-left:8px;
	padding-left:1em;
	text-indent:-1em
}
.pl li {
	margin-top:5px
}
.pl li:first-child {
	margin-top:0
}
.dl--n {
	display:-webkit-flex;
	display:flex
}
.dl--n dt {
	float:left;
	padding-right:0.8ex
}
.dl--n dd {
	-webkit-flex:1 2 50%;
	flex:1 2 50%;
	margin:0
}
.spinner--centered {
	position:absolute !important;
	top:50% !important;
	left:50% !important
}
.loggedout .loggedin-only {
	display:none
}
.loggedin .loggedout-only {
	display:none
}
.show-xs, .show-sm, .show-lg, .show-xl {
	display:none
}
.vc {
	display:table;
	height:100%;
	width:100%
}
.vc__wrap {
	display:table-cell;
	vertical-align:middle
}
.pad1, .pad2, .pad3 {
	padding:20px 0
}
.pad4 {
	padding:10px 0
}
.pad5 {
	padding:5px 0
}
.hpad1, .hpad2, .hpad3 {
	padding-left:20px;
	padding-right:20px
}
.hpad4 {
	padding-left:10px;
	padding-right:10px
}
.hpad5 {
	padding-left:5px;
	padding-right:5px
}
@media only screen and (min-width: 480px) {
.hide-xs {
display:none
}
.show-xs {
display:block
}
}
@media only screen and (min-width: 600px) {
.image--left, .image--right {
max-width:40%
}
.image--left {
float:left;
margin-right:20px
}
.image--right {
float:right;
margin-left:20px
}
}
@media only screen and (min-width: 768px) {
.hide-sm {
display:none
}
.show-sm {
display:block
}
}
@media only screen and (min-width: 1024px) {
.hide-lg {
display:none
}
.show-lg {
display:block
}
}
@media only screen and (min-width: 1200px) {
.container {
padding:0 40px
}
.hide-xl {
display:none
}
.show-xl {
display:block
}
.pad1 {
padding-top:40px;
padding-bottom:40px
}
.pad2 {
padding-top:30px;
padding-bottom:30px
}
.hpad1 {
padding-left:40px;
padding-right:40px
}
.hpad2 {
padding-left:30px;
padding-right:30px
}
}
.row {
*zoom:1;
	margin-left:-40px
}
.row:after {
	content:"";
	display:table;
	clear:both
}
.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	padding-left:40px;
	float:left;
	width:100%
}
.col>*:first-child, .col>*:first-child>*:first-child, .col>*:first-child>*:first-child>*:first-child, .col-xs-1>*:first-child, .col-xs-1>*:first-child>*:first-child, .col-xs-1>*:first-child>*:first-child>*:first-child, .col-xs-2>*:first-child, .col-xs-2>*:first-child>*:first-child, .col-xs-2>*:first-child>*:first-child>*:first-child, .col-xs-3>*:first-child, .col-xs-3>*:first-child>*:first-child, .col-xs-3>*:first-child>*:first-child>*:first-child, .col-xs-4>*:first-child, .col-xs-4>*:first-child>*:first-child, .col-xs-4>*:first-child>*:first-child>*:first-child, .col-xs-5>*:first-child, .col-xs-5>*:first-child>*:first-child, .col-xs-5>*:first-child>*:first-child>*:first-child, .col-xs-6>*:first-child, .col-xs-6>*:first-child>*:first-child, .col-xs-6>*:first-child>*:first-child>*:first-child, .col-xs-7>*:first-child, .col-xs-7>*:first-child>*:first-child, .col-xs-7>*:first-child>*:first-child>*:first-child, .col-xs-8>*:first-child, .col-xs-8>*:first-child>*:first-child, .col-xs-8>*:first-child>*:first-child>*:first-child, .col-xs-9>*:first-child, .col-xs-9>*:first-child>*:first-child, .col-xs-9>*:first-child>*:first-child>*:first-child, .col-xs-10>*:first-child, .col-xs-10>*:first-child>*:first-child, .col-xs-10>*:first-child>*:first-child>*:first-child, .col-xs-11>*:first-child, .col-xs-11>*:first-child>*:first-child, .col-xs-11>*:first-child>*:first-child>*:first-child, .col-xs-12>*:first-child, .col-xs-12>*:first-child>*:first-child, .col-xs-12>*:first-child>*:first-child>*:first-child, .col-sm-1>*:first-child, .col-sm-1>*:first-child>*:first-child, .col-sm-1>*:first-child>*:first-child>*:first-child, .col-sm-2>*:first-child, .col-sm-2>*:first-child>*:first-child, .col-sm-2>*:first-child>*:first-child>*:first-child, .col-sm-3>*:first-child, .col-sm-3>*:first-child>*:first-child, .col-sm-3>*:first-child>*:first-child>*:first-child, .col-sm-4>*:first-child, .col-sm-4>*:first-child>*:first-child, .col-sm-4>*:first-child>*:first-child>*:first-child, .col-sm-5>*:first-child, .col-sm-5>*:first-child>*:first-child, .col-sm-5>*:first-child>*:first-child>*:first-child, .col-sm-6>*:first-child, .col-sm-6>*:first-child>*:first-child, .col-sm-6>*:first-child>*:first-child>*:first-child, .col-sm-7>*:first-child, .col-sm-7>*:first-child>*:first-child, .col-sm-7>*:first-child>*:first-child>*:first-child, .col-sm-8>*:first-child, .col-sm-8>*:first-child>*:first-child, .col-sm-8>*:first-child>*:first-child>*:first-child, .col-sm-9>*:first-child, .col-sm-9>*:first-child>*:first-child, .col-sm-9>*:first-child>*:first-child>*:first-child, .col-sm-10>*:first-child, .col-sm-10>*:first-child>*:first-child, .col-sm-10>*:first-child>*:first-child>*:first-child, .col-sm-11>*:first-child, .col-sm-11>*:first-child>*:first-child, .col-sm-11>*:first-child>*:first-child>*:first-child, .col-sm-12>*:first-child, .col-sm-12>*:first-child>*:first-child, .col-sm-12>*:first-child>*:first-child>*:first-child, .col-lg-1>*:first-child, .col-lg-1>*:first-child>*:first-child, .col-lg-1>*:first-child>*:first-child>*:first-child, .col-lg-2>*:first-child, .col-lg-2>*:first-child>*:first-child, .col-lg-2>*:first-child>*:first-child>*:first-child, .col-lg-3>*:first-child, .col-lg-3>*:first-child>*:first-child, .col-lg-3>*:first-child>*:first-child>*:first-child, .col-lg-4>*:first-child, .col-lg-4>*:first-child>*:first-child, .col-lg-4>*:first-child>*:first-child>*:first-child, .col-lg-5>*:first-child, .col-lg-5>*:first-child>*:first-child, .col-lg-5>*:first-child>*:first-child>*:first-child, .col-lg-6>*:first-child, .col-lg-6>*:first-child>*:first-child, .col-lg-6>*:first-child>*:first-child>*:first-child, .col-lg-7>*:first-child, .col-lg-7>*:first-child>*:first-child, .col-lg-7>*:first-child>*:first-child>*:first-child, .col-lg-8>*:first-child, .col-lg-8>*:first-child>*:first-child, .col-lg-8>*:first-child>*:first-child>*:first-child, .col-lg-9>*:first-child, .col-lg-9>*:first-child>*:first-child, .col-lg-9>*:first-child>*:first-child>*:first-child, .col-lg-10>*:first-child, .col-lg-10>*:first-child>*:first-child, .col-lg-10>*:first-child>*:first-child>*:first-child, .col-lg-11>*:first-child, .col-lg-11>*:first-child>*:first-child, .col-lg-11>*:first-child>*:first-child>*:first-child, .col-lg-12>*:first-child, .col-lg-12>*:first-child>*:first-child, .col-lg-12>*:first-child>*:first-child>*:first-child {
	margin-top:0
}
.row-skinny {
	margin-left:-20px
}
.row-skinny .col {
	padding-left:20px
}
.row-oh-2up .col {
	width:50%
}
.row-oh-2up .col:nth-child(1n) {
clear:none
}
.row-oh-2up .col:nth-child(2n+1) {
clear:left
}
.row-oh-3up .col {
	width:33.33333%
}
.row-oh-3up .col:nth-child(1n) {
clear:none
}
.row-oh-3up .col:nth-child(3n+1) {
clear:left
}
@media only screen and (min-width: 480px) {
.col-xs-1 {
width:8.33333%
}
.col-xs-2 {
width:16.66667%
}
.col-xs-3 {
width:25%
}
.col-xs-4 {
width:33.33333%
}
.col-xs-5 {
width:41.66667%
}
.col-xs-6 {
width:50%
}
.col-xs-7 {
width:58.33333%
}
.col-xs-8 {
width:66.66667%
}
.col-xs-9 {
width:75%
}
.col-xs-10 {
width:83.33333%
}
.col-xs-11 {
width:91.66667%
}
.col-xs-12 {
width:100%
}
.row-xs-2up .col {
width:50%
}
.row-xs-2up .col:nth-child(1n) {
clear:none
}
.row-xs-2up .col:nth-child(2n+1) {
clear:left
}
.row-xs-3up .col {
width:33.33333%
}
.row-xs-3up .col:nth-child(1n) {
clear:none
}
.row-xs-3up .col:nth-child(3n+1) {
clear:left
}
}

@media only screen and (min-width: 768px) {
.col-sm-1 {
width:8.33333%
}
.col-sm-2 {
width:16.66667%
}
.col-sm-3 {
width:25%
}
.col-sm-4 {
width:33.33333%
}
.col-sm-5 {
width:41.66667%
}
.col-sm-6 {
width:50%
}
.col-sm-7 {
width:58.33333%
}
.col-sm-8 {
width:66.66667%
}
.col-sm-9 {
width:75%
}
.col-sm-10 {
width:83.33333%
}
.col-sm-11 {
width:91.66667%
}
.col-sm-12 {
width:100%
}
.col-sm-offset-0 {
margin-left:0%
}
.col-sm-offset-1 {
margin-left:8.33333%
}
.col-sm-offset-2 {
margin-left:16.66667%
}
.col-sm-offset-3 {
margin-left:25%
}
.col-sm-offset-4 {
margin-left:33.33333%
}
.col-sm-offset-5 {
margin-left:41.66667%
}
.col-sm-offset-6 {
margin-left:50%
}
.col-sm-offset-7 {
margin-left:58.33333%
}
.col-sm-offset-8 {
margin-left:66.66667%
}
.col-sm-offset-9 {
margin-left:75%
}
.col-sm-offset-10 {
margin-left:83.33333%
}
.col-sm-offset-11 {
margin-left:91.66667%
}
.col-sm-offset-12 {
margin-left:100%
}
.row-sm-2up .col {
width:50%
}
.row-sm-2up .col:nth-child(1n) {
clear:none
}
.row-sm-2up .col:nth-child(2n+1) {
clear:left
}
.row-sm-3up .col {
width:33.33333%
}
.row-sm-3up .col:nth-child(1n) {
clear:none
}
.row-sm-3up .col:nth-child(3n+1) {
clear:left
}
.row-sm-4up .col {
width:25%
}
.row-sm-4up .col:nth-child(1n) {
clear:none
}
.row-sm-4up .col:nth-child(4n+1) {
clear:left
}
}
@media only screen and (min-width: 1024px) {
.col--delineated-lg {
border-left:1px solid #E5E5E5
}
.col-lg-1 {
width:8.33333%
}
.col-lg-2 {
width:16.66667%
}
.col-lg-3 {
width:25%
}
.col-lg-4 {
width:33.33333%
}
.col-lg-5 {
width:41.66667%
}
.col-lg-6 {
width:50%
}
.col-lg-7 {
width:58.33333%
}
.col-lg-8 {
width:66.66667%
}
.col-lg-9 {
width:75%
}
.col-lg-10 {
width:83.33333%
}
.col-lg-11 {
width:91.66667%
}
.col-lg-12 {
width:100%
}
.col-lg-offset-0 {
margin-left:0%
}
.col-lg-offset-1 {
margin-left:8.33333%
}
.col-lg-offset-2 {
margin-left:16.66667%
}
.col-lg-offset-3 {
margin-left:25%
}
.col-lg-offset-4 {
margin-left:33.33333%
}
.col-lg-offset-5 {
margin-left:41.66667%
}
.col-lg-offset-6 {
margin-left:50%
}
.col-lg-offset-7 {
margin-left:58.33333%
}
.col-lg-offset-8 {
margin-left:66.66667%
}
.col-lg-offset-9 {
margin-left:75%
}
.col-lg-offset-10 {
margin-left:83.33333%
}
.col-lg-offset-11 {
margin-left:91.66667%
}
.col-lg-offset-12 {
margin-left:100%
}
.row-lg-2up .col {
width:50%
}
.row-lg-2up .col:nth-child(1n) {
clear:none
}
.row-lg-2up .col:nth-child(2n+1) {
clear:left
}
.row-lg-3up .col {
width:33.33333%
}
.row-lg-3up .col:nth-child(1n) {
clear:none
}
.row-lg-3up .col:nth-child(3n+1) {
clear:left
}
.row-lg-4up .col {
width:25%
}
.row-lg-4up .col:nth-child(1n) {
clear:none
}
.row-lg-4up .col:nth-child(4n+1) {
clear:left
}
.row-lg-5up .col {
width:20%
}
.row-lg-5up .col:nth-child(1n) {
clear:none
}
.row-lg-5up .col:nth-child(5n+1) {
clear:left
}
.row-lg-6up .col {
width:16.66667%
}
.row-lg-6up .col:nth-child(1n) {
clear:none
}
.row-lg-6up .col:nth-child(6n+1) {
clear:left
}
.col-lg-sidebar {
width:340px
}
.col-lg-sidebarred {
margin-right:-340px;
padding-right:340px
}
}
.h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8, .h9, .h10, .h11, .h12, .h13 {
	color:#222;
	font-size:100%;
	font-weight:700;
	line-height:1.2;
	margin:0
}
.inverse .h1, .inverse .h2, .inverse .h3, .inverse .h4, .inverse .h5, .inverse .h6, .inverse .h7, .inverse .h8, .inverse .h9, .inverse .h10, .inverse .h11, .inverse .h12, .inverse .h13 {
	color:#fff
}
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, .h7 a, .h8 a, .h9 a, .h10 a, .h11 a, .h12 a, .h13 a {
	color:#111;
	text-decoration:none
}
.inverse .h1 a, .inverse .h2 a, .inverse .h3 a, .inverse .h4 a, .inverse .h5 a, .inverse .h6 a, .inverse .h7 a, .inverse .h8 a, .inverse .h9 a, .inverse .h10 a, .inverse .h11 a, .inverse .h12 a, .inverse .h13 a {
	color:#fff
}
.h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover, .h7 a:hover, .h8 a:hover, .h9 a:hover, .h10 a:hover, .h11 a:hover, .h12 a:hover, .h13 a:hover {
	color:#555
}
.inverse .h1 a:hover, .inverse .h2 a:hover, .inverse .h3 a:hover, .inverse .h4 a:hover, .inverse .h5 a:hover, .inverse .h6 a:hover, .inverse .h7 a:hover, .inverse .h8 a:hover, .inverse .h9 a:hover, .inverse .h10 a:hover, .inverse .h11 a:hover, .inverse .h12 a:hover, .inverse .h13 a:hover {
	color:#fff
}
a:hover .h1, a:hover .h2, a:hover .h3, a:hover .h4, a:hover .h5, a:hover .h6, a:hover .h7, a:hover .h8, a:hover .h9, a:hover .h10, a:hover .h11, a:hover .h12, a:hover .h13 {
	color:#555
}
.inverse a:hover .h1, .inverse a:hover .h2, .inverse a:hover .h3, .inverse a:hover .h4, .inverse a:hover .h5, .inverse a:hover .h6, .inverse a:hover .h7, .inverse a:hover .h8, .inverse a:hover .h9, .inverse a:hover .h10, .inverse a:hover .h11, .inverse a:hover .h12, .inverse a:hover .h13 {
	color:#fff
}
.h1, .h2 {
	font-size:38px;
	font-size:2.71429rem
}
.h1--alt, .h1__alt {
	font-weight:300
}
.h2 {
	font-weight:900;
	letter-spacing:-1px
}
.h3 {
	font-size:32px;
	font-size:2.28571rem;
	font-weight:300
}
.h4 {
	font-size:28px;
	font-size:2rem;
	font-weight:300
}
.h5 {
	font-size:24px;
	font-size:1.71429rem;
	font-weight:300
}
.h6 {
	font-size:24px;
	font-size:1.71429rem;
	font-weight:900
}
.h7 {
	font-size:18px;
	font-size:1.28571rem;
	font-weight:900
}
.h8 {
	font-size:18px;
	font-size:1.28571rem
}
.h8__alt {
	font-weight:300
}
.h9 {
	font-size:16px;
	font-size:1.14286rem;
	font-weight:900
}
.h10 {
	font-size:16px;
	font-size:1.14286rem
}
.h11 {
	font-size:16px;
	font-size:1.14286rem;
	font-weight:400
}
.h12 {
	font-size:16px;
	font-size:1.14286rem;
	color:#222;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-weight:400
}
.h13 {
	font-weight:400;
	text-transform:uppercase
}
.p1 {
	font-size:22px;
	font-size:1.57143rem;
	line-height:1.59091;
	font-weight:300
}
.p2 {
	font-size:18px;
	font-size:1.28571rem;
	line-height:1.38889
}
.p3 {
	color:#666;
	font-size:15px;
	font-size:1.07143rem;
	line-height:1.66667
}
.inverse .p3 {
	color:#fff
}
.p4 {
	color:#666;
	font-size:14px;
	font-size:1rem;
	line-height:1.78571
}
.inverse .p4 {
	color:#fff
}
.l1, .l2, .l3 {
	color:#333;
	font-weight:700
}
.inverse .l1, .inverse .l2, .inverse .l3 {
	color:#fff
}
.l1:hover, .l2:hover, .l3:hover {
	color:#666
}
.inverse .l1:hover, .inverse .l2:hover, .inverse .l3:hover {
	color:#fff
}
.l1 {
	font-size:16px;
	font-size:1.14286rem
}
.l2 {
	font-size:15px;
	font-size:1.07143rem
}
.bq1, .bq2, .c1, .e1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic
}
.c1, .e1, .e2, .meta {
	color:#666
}
.inverse .c1, .inverse .e1, .inverse .e2, .inverse .meta {
	color:#fff
}
.bq1, .bq2 {
	color:#333;
	position:relative
}
.inverse .bq1, .inverse .bq2 {
	color:#fff
}
.bq1:after, .bq2:after {
	content:"\201D"
}
.bq1:before, .bq2:before {
	content:"\201C";
	width:2ex;
	position:absolute;
	left:-1.0ex
}
.bq1 {
	font-size:28px;
	font-size:2rem;
	line-height:1.60714
}
.bq1:before {
	color:#CCC;
	font-size:270%;
	line-height:1.1;
	width:2em;
	left:-1.3ex
}
.bq2 {
	font-size:20px;
	font-size:1.42857rem;
	line-height:1.4
}
.c1 {
	font-size:15px;
	font-size:1.07143rem;
	line-height:1.46667
}
.e1 {
	font-size:16px;
	font-size:1.14286rem;
	line-height:1.5625;
	font-weight:normal
}
.e2 {
	font-size:12px;
	font-size:0.85714rem;
	line-height:1.66667;
	font-weight:bold;
	text-transform:uppercase
}
.meta {
	font-size:14px;
	font-size:1rem;
	font-weight:700
}
.meta__item:before {
	content:"\2022 "
}
.meta__item:first-child:before {
	display:none
}
.meta__row {
	display:block
}
.meta__val {
	font-weight:400
}
.small {
	font-size:12px;
	font-size:0.85714rem;
	line-height:1.5
}
.undec {
	text-decoration:none
}
.text-danger, .text-danger a {
	color:#e62b1e
}
.inverse .text-danger, .inverse .text-danger a {
	color:#fff
}
.text-primary, .text-primary a {
	color:#111
}
.inverse .text-primary, .inverse .text-primary a {
	color:#fff
}
.text-secondary, .text-secondary a {
	color:#999;
	font-weight:400
}
.inverse .text-secondary, .inverse .text-secondary a {
	color:#fff
}
.m1, .m2, .m3 {
	margin-bottom:20px
}
.m4 {
	margin-bottom:10px
}
.m5 {
	margin-bottom:5px
}
@media only screen and (min-width: 1024px) {
.h1, .h2 {
font-size:42px;
font-size:3rem;
line-height:1.04762
}
.h3 {
font-size:32px;
font-size:2.28571rem
}
.h9 {
font-size:15px;
font-size:1.07143rem
}
.h10 {
font-size:15px;
font-size:1.07143rem
}
.h11 {
font-size:15px;
font-size:1.07143rem
}
.h12 {
font-size:15px;
font-size:1.07143rem
}
.p1 {
font-size:22px;
font-size:1.57143rem;
line-height:1.59091
}
.p3 {
font-size:14px;
font-size:1rem;
line-height:1.42857
}
.p4 {
font-size:13px;
font-size:0.92857rem;
line-height:1.53846
}
.l1 {
font-size:14px;
font-size:1rem
}
.l2 {
font-size:13px;
font-size:0.92857rem
}
.bq1 {
font-size:28px;
font-size:2rem;
line-height:1.60714
}
.c1 {
font-size:12px;
font-size:0.85714rem;
line-height:1.66667
}
.e1 {
font-size:15px;
font-size:1.07143rem
}
.e2 {
font-size:10px;
font-size:0.71429rem;
line-height:2
}
.meta {
font-size:12px;
font-size:0.85714rem
}
.m1 {
margin-bottom:40px
}
.m2 {
margin-bottom:30px
}
}
#filepicker_shade, #filepicker_dialog_container {
	z-index:1000101 !important
}
.icon {
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
*zoom:1;
*display:inline;
	font-family:"icons";
	font-style:normal;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	speak:none;
	-webkit-font-smoothing:antialiased;
	width:40px;
	height:40px;
	line-height:41px;
	font-size:40px
}
.icon--inline {
	width:16px;
	height:16px;
	line-height:17px;
	font-size:16px;
	margin-right:5px
}
.icon_action-attend:before {
	content:"\e001"
}
.icon_action-connect:before {
	content:"\e002"
}
.icon_action-download:before {
	content:"\e003"
}
.icon_action-follow:before {
	content:"\e004"
}
.icon_action-join:before {
	content:"\e005"
}
.icon_action-learn:before {
	content:"\e006"
}
.icon_action-organize:before {
	content:"\e007"
}
.icon_action-participate:before {
	content:"\e008"
}
.icon_action-petition:before {
	content:"\e009"
}
.icon_action-quote:before {
	content:"\e00a"
}
.icon_action-share:before {
	content:"\e00b"
}
.icon_action-signup:before {
	content:"\e00c"
}
.icon_action-subscribe:before {
	content:"\e00d"
}
.icon_action-visit:before {
	content:"\e00e"
}
.icon_action-volunteer:before {
	content:"\e00f"
}
.icon_arrow-alt-left:before {
	/*content:"\e010"*/
}
.icon_arrow-alt-right:before {
/*	content:"\e011"*/
}
.icon_arrow-left:before {
	content:"\e012"
}
.icon_arrow-right:before {
	content:"\e013"
}
.icon_barchart:before {
	content:"\e014"
}
.icon_checkmark:before {
	content:"\e015"
}
.icon_circle-check:before {
	content:"\e016"
}
.icon_circle-download:before {
	content:"\e017"
}
.icon_circle-email-fill:before {
	content:"\e018"
}
.icon_circle-email:before {
	content:"\e019"
}
.icon_circle-embed-fill:before {
	content:"\e01a"
}
.icon_circle-embed:before {
	content:"\e01b"
}
.icon_circle-facebook-fill:before {
	content:"\e01c"
}
.icon_circle-facebook:before {
	content:"\e01d"
}
.icon_circle-favorite-fill:before {
	content:"\e01e"
}
.icon_circle-favorite:before {
	content:"\e01f"
}
.icon_circle-googleplus:before {
	content:"\e020"
}
.icon_circle-ig-fill:before {
	content:"\e021"
}
.icon_circle-left:before {
	content:"\e022"
}
.icon_circle-linkedin:before {
	content:"\e023"
}
.icon_circle-more-fill:before {
	content:"\e024"
}
.icon_circle-more:before {
	content:"\e025"
}
.icon_circle-play:before {
	content:"\e026"
}
.icon_circle-rate:before {
	content:"\e027"
}
.icon_circle-right:before {
	content:"\e028"
}
.icon_circle-share:before {
	content:"\e029"
}
.icon_circle-twitter-fill:before {
	content:"\e02a"
}
.icon_circle-twitter:before {
	content:"\e02b"
}
.icon_circle-watchlater-fill:before {
	content:"\e02c"
}
.icon_circle-watchlater:before {
	content:"\e02d"
}
.icon_close-small:before {
	content:"\e02e"
}
.icon_control-cog:before {
	content:"\e02f"
}
.icon_control-fullscreen-exit:before {
	content:"\e030"
}
.icon_control-fullscreen:before {
	content:"\e031"
}
.icon_control-mute:before {
	content:"\e032"
}
.icon_control-pause:before {
	content:"\e033"
}
.icon_control-play:before {
	content:"\e034"
}
.icon_control-skip:before {
	content:"\e035"
}
.icon_control-subtitles:before {
	content:"\e036"
}
.icon_control-transcript:before {
	content:"\e037"
}
.icon_control-volume:before {
	content:"\e038"
}
.icon_corrections:before {
	content:"\e039"
}
.icon_facebook:before {
	content:"\e03a"
}
.icon_flag:before {
	content:"\e03b"
}
.icon_flickr:before {
	content:"\e03c"
}
.icon_footnotes:before {
	content:"\e03d"
}
.icon_item-book:before {
	content:"\e03e"
}
.icon_item-globe:before {
	content:"\e03f"
}
.icon_item-speaker:before {
	content:"\e040"
}
.icon_item-text:before {
	content:"\e041"
}
.icon_item-video:before {
	content:"\e042"
}
.icon_link:before {
	content:"\e043"
}
.icon_message:before {
	content:"\e044"
}
.icon_outbound:before {
	content:"\e045"
}
.icon_page-dot-off:before {
/*	content:"\e046"*/
}
.icon_page-dot-on:before {
	content:"\e047"
}
.icon_pencil:before {
	content:"\e048"
}
.icon_photo-credits:before {
	content:"\e049"
}
.icon_photo:before {
	content:"\e04a"
}
.icon_pin:before {
	content:"\e04b"
}
.icon_reading-list:before {
	content:"\e04c"
}
.icon_reply:before {
	content:"\e04d"
}
.icon_search:before {
	content:"\e04e"
}
.icon_transcript:before {
	content:"\e04f"
}
.icon_twitter:before {
	content:"\e050"
}
.icon_upvote:before {
	content:"\e051"
}
.icon_x:before {
	content:"\e052"
}
.icon_youtube:before {
	content:"\e053"
}
.g, .g-button-modal-close, .g-button-modal-close_hover, .g-button-play, .g-button-play_hover, .g-collapse-up, .g-logo-medium, .g-logo-small-grey, .g-logo-small, .g-maxi-fullscreen, .g-maxi-pause, .g-maxi-play, .g-maxi-settings, .g-maxi-subtitles, .g-maxi-transcript, .g-maxi-volume, .g-menu, .g-mini-fullscreen, .g-mini-pause, .g-mini-play, .g-mini-settings, .g-mini-subtitles, .g-mini-transcript, .g-mini-volume, .g-pip-pause, .g-pip-play, .g-pip-share, .g-search {
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
*zoom:1;
*display:inline;
	/*background:url('../images/sprit.png') no-repeat;*/
    background-image: url('../images/sprit.png');
    background-repeat: no-repeat;
	overflow:hidden;
	text-indent:-9999em;
	zoom:1;
*font-size:0;
*line-height:0;
*text-indent:0
}
.g-button-modal-close {
	background-position:0 0;
	height:14px;
	width:14px
}
.g-button-modal-close_hover {
	background-position:0 -14px;
	height:14px;
	width:14px
}
.g-button-play {
	background-position:0 -28px;
	height:100px;
	width:100px
}
.g-button-play_hover {
	background-position:0 -128px;
	height:100px;
	width:100px
}
.g-collapse-up {
	background-position:0 -228px;
	height:30px;
	width:30px
}
.g-logo-medium {
	background-position:0 -258px;
	height:52px;
	width:140px
}
.g-logo-small-grey {
	background-position:0 -310px;
	height:30px;
	width:83px
}
.g-logo-small {
    background-position: 0 -340px;
    height: 30px;
    position: relative;
    top: 5px;
    width: 195px;
}
.g-maxi-fullscreen {
	background-position:0 -370px;
	height:30px;
	width:30px
}
.g-maxi-pause {
	background-position:0 -400px;
	height:30px;
	width:30px
}
.g-maxi-play {
	background-position:0 -430px;
	height:30px;
	width:30px
}
.g-maxi-settings {
	background-position:0 -460px;
	height:30px;
	width:30px
}
.g-maxi-subtitles {
	background-position:0 -490px;
	height:30px;
	width:30px
}
.g-maxi-transcript {
	background-position:0 -520px;
	height:30px;
	width:30px
}
.g-maxi-volume {
	background-position:0 -550px;
	height:30px;
	width:30px
}
.g-menu {
	background-position:0 -580px;
	height:30px;
	width:30px
}
.g-mini-fullscreen {
	background-position:0 -610px;
	height:20px;
	width:20px
}
.g-mini-pause {
	background-position:0 -630px;
	height:20px;
	width:20px
}
.g-mini-play {
	background-position:0 -650px;
	height:20px;
	width:20px
}
.g-mini-settings {
	background-position:0 -670px;
	height:20px;
	width:20px
}
.g-mini-subtitles {
	background-position:0 -690px;
	height:20px;
	width:20px
}
.g-mini-transcript {
	background-position:0 -710px;
	height:20px;
	width:20px
}
.g-mini-volume {
	background-position:0 -730px;
	height:20px;
	width:20px
}
.g-pip-pause {
	background-position:0 -750px;
	height:46px;
	width:46px
}
.g-pip-play {
	background-position:0 -796px;
	height:46px;
	width:46px
}
.g-pip-share {
	background-position:0 -842px;
	height:30px;
	width:30px
}
.g-search {
    background-color: transparent;
    background-position: 0 -872px;
    height: 27px;
    width: 27px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
.g-button-modal-close {
background:url('../images/sprit.png') no-repeat;
background-position:0 0;

}
.g-button-modal-close_hover {
background:url('../images/sprit.png') no-repeat;
background-position:0 -14px;

}
.g-button-play {
background:url('../images/sprit.png') no-repeat;
background-position:0 -28px;

}
.g-button-play_hover {
background:url('../images/sprit.png') no-repeat;
background-position:0 -128px;
/*/*background-position:0 -258px;*/*/
}
.g-collapse-up {
background:url('../images/sprit.png') no-repeat;
background-position:0 -228px;
/*background-position:0 -258px;*/
}
.g-logo-medium {
/*background:url('../images/sprit.png') no-repeat;
background-position:0 -258px;
/*background-position:0 -258px;*/*/
background-image: url('../images/sprit.png');
    background-repeat: no-repeat;
  /*  background-position:0 -258px;*/
}
.g-logo-small-grey {
background:url('../images/sprit.png') no-repeat;
background-position:0 -310px;
/*/*background-position:0 -258px;*/*/
}
.g-logo-small {
background:url('../images/sprit.png') no-repeat;
background-position:0 -340px;
/*/*background-position:0 -258px;*/*/
}
.g-maxi-fullscreen {
background:url('../images/sprit.png') no-repeat;
background-position:0 -370px;
/*background-position:0 -258px;*/
}
.g-maxi-pause {
background:url('../images/sprit.png') no-repeat;
background-position:0 -400px;
/*background-position:0 -258px;*/
}
.g-maxi-play {
background:url('../images/sprit.png') no-repeat;
background-position:0 -430px;
/*background-position:0 -258px;*/
}
.g-maxi-settings {
background:url('../images/sprit.png') no-repeat;
background-position:0 -460px;
/*background-position:0 -258px;*/
}
.g-maxi-subtitles {
background:url('../images/sprit.png') no-repeat;
background-position:0 -490px;
/*background-position:0 -258px;*/
}
.g-maxi-transcript {
background:url('../images/sprit.png') no-repeat;
background-position:0 -520px;
/*background-position:0 -258px;*/
}
.g-maxi-volume {
background:url('../images/sprit.png') no-repeat;
background-position:0 -550px;
/*background-position:0 -258px;*/
}
.g-menu {
background:url('../images/sprit.png') no-repeat;
background-position:0 -580px;
/*background-position:0 -258px;*/
}
.g-mini-fullscreen {
background:url('../images/sprit.png') no-repeat;
background-position:0 -610px;
/*background-position:0 -258px;*/
}
.g-mini-pause {
background:url('../images/sprit.png') no-repeat;
background-position:0 -630px;
/*background-position:0 -258px;*/
}
.g-mini-play {
background:url('../images/sprit.png') no-repeat;
background-position:0 -650px;
/*background-position:0 -258px;*/
}
.g-mini-settings {
background:url('../images/sprit.png') no-repeat;
background-position:0 -670px;
/*background-position:0 -258px;*/
}
.g-mini-subtitles {
background:url('../images/sprit.png') no-repeat;
background-position:0 -690px;
/*background-position:0 -258px;*/
}
.g-mini-transcript {
background:url('../images/sprit.png') no-repeat;
background-position:0 -710px;
/*background-position:0 -258px;*/
}
.g-mini-volume {
background:url('../images/sprit.png') no-repeat;
background-position:0 -730px;
/*background-position:0 -258px;*/
}
.g-pip-pause {
background:url('../images/sprit.png') no-repeat;
background-position:0 -750px;
/*background-position:0 -258px;*/
}
.g-pip-play {
background:url('../images/sprit.png') no-repeat;
background-position:0 -796px;
/*background-position:0 -258px;*/
}
.g-pip-share {
background:url('../images/sprit.png') no-repeat;
background-position:0 -842px;
/*background-position:0 -258px;*/
}
.g-search {
background:url('../images/sprit.png') no-repeat;
background-position:0 -872px;
/*background-position:0 -258px;*/
}
}
.no-modal-backdrop {
	background:#ddd;
	background:-moz-linear-gradient(#ffffff, #dddddd);
	background:-o-linear-gradient(#ffffff, #dddddd);
	background:-webkit-linear-gradient(#ffffff, #dddddd);
	background:linear-gradient(#ffffff, #dddddd);
	position:fixed;
	top:0;
	left:0;
	z-index:1001001;
	width:100%;
	height:0;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	overflow:hidden
}
.no-modal-backdrop--show {
	height:100%;
filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity:1;
	overflow:visible
}
.no-modal {
	position:absolute;
	top:0;
	left:0;
	z-index:1001001;
	width:100%;
	height:0;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	overflow:hidden
}
.no-modal--show {
	height:100%;
filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity:1;
	overflow:visible
}
.no-modal__outer {
	display:table;
	height:100%;
	width:100%
}
.no-modal__inner {
	display:table-cell;
	vertical-align:middle
}
.no-modal--align-top .no-modal__inner {
	vertical-align:top
}
.no-modal__content {
	background:#FFF;
	margin:20px auto;
	padding:20px;
	border-top:2px solid #e62b1e;
	width:85%;
	-moz-box-shadow:-1px 1px 6px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:-1px 1px 6px 1px rgba(0, 0, 0, 0.25);
	box-shadow:-1px 1px 6px 1px rgba(0, 0, 0, 0.25)
}
.no-modal__head {
	border-bottom:1px solid #DDD;
	font-weight:bold;
	font-size:16px;
	line-height:1;
	margin:0 0 20px 0;
	padding:0 0 10px 0
}
.no-modal__head__title {
*zoom:1
}
.no-modal__head__title:after {
	content:"";
	display:table;
	clear:both
}
.no-modal__head__close {
	float:right;
	padding:10px;
	margin:-10px
}
.no-modal-open {
	background:#ddd
}
.no-modal-open .page {
	display:none
}
@media only screen and (min-width: 480px) {
.no-modal__content {
max-width:480px
}
}
@media only screen and (min-width: 768px) {
.no-modal-backdrop, .no-modal-backdrop--show, .no-modal, .no-modal--show {
-moz-transition:opacity 0.26s;
-o-transition:opacity 0.26s;
-webkit-transition:opacity 0.26s;
transition:opacity 0.26s
}
.no-modal-backdrop {
background:#fff
}
.no-modal-backdrop--show {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=94);
opacity:0.94
}
.no-modal {
overflow:auto;
position:fixed
}
.no-modal__content {
margin:40px auto
}
.no-modal-open {
background:#fff;
overflow:hidden
}
.no-modal-open .page {
display:block
}
}
.auth-prompt {
	border-top:2px solid #e62b1e;
	padding:0;
	position:relative
}
.auth-prompt__section {
	padding:15px 25px
}
.auth-prompt__header {
	position:relative;
	text-align:center
}
.auth-prompt__header__title {
	font-size:24px;
	font-size:1.71429rem;
	font-weight:700
}
.auth-prompt__close {
	position:absolute;
	top:10px;
	right:15px
}
.auth-prompt__options {
	background:#f3f3f3
}
.auth-prompt__option {
	padding:10px 0
}
.auth-prompt__option--standard {
	border-bottom:1px solid #ccc;
	padding-bottom:25px;
	position:relative
}
.auth-prompt__option--social {
	padding-top:25px
}
.auth-prompt__halp {
	display:block;
	margin-top:10px
}
.auth-prompt__footer {
	font-size:14px;
	font-size:1rem;
	color:#666;
	text-align:center
}
.auth-prompt__footer__question {
	display:block
}
.auth-prompt__thinking {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	-moz-transition:opacity 200ms;
	-o-transition:opacity 200ms;
	-webkit-transition:opacity 200ms;
	transition:opacity 200ms;
	background:#FFF;
	position:absolute;
	top:-100%;
	left:0;
	width:100%;
	height:100%
}
.auth-prompt--thinking .auth-prompt__thinking {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity:0.6;
	top:0
}
.auth-prompt__message {
	display:none;
	margin-bottom:15px
}
.auth-prompt--error .auth-prompt__message {
	color:#bf0c00;
	display:block
}
.auth-prompt--error .form-control {
	border-color:#bf0c00
}
@media only screen and (min-width: 1024px) {
.auth-prompt {
max-width:840px
}
.auth-prompt__section {
padding-left:40px;
padding-right:40px
}
.auth-prompt__header {
padding-top:20px;
padding-bottom:20px
}
.auth-prompt__header__title {
font-size:30px;
font-size:2.14286rem
}
.auth-prompt__options {
padding-top:40px;
padding-bottom:40px;
overflow:hidden;
width:100%
}
.auth-prompt__option {
padding:0
}
.auth-prompt__option--standard {
border-bottom:none;
border-left:1px solid #E0E0E0;
float:right;
padding-left:9%;
width:50%
}
.auth-prompt__option--standard:after {
background:#f3f3f3;
color:#666;
content:"or";
font-size:28px;
line-height:32px;
text-align:center;
position:absolute;
left:0;
top:50%;
height:40px;
width:50px;
margin-top:-25px;
margin-left:-25px
}
.auth-prompt__option--social {
float:left;
padding-right:9%;
width:49%
}
.auth-prompt__halp {
display:inline;
margin-top:0;
margin-left:20px
}
.auth-prompt__footer {
font-size:18px;
font-size:1.28571rem;
padding-top:30px;
padding-bottom:30px
}
.auth-prompt__footer__question {
display:inline
}
}
.drillDown {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	-moz-transition:-moz-transform 130ms ease-out;
	-o-transition:-o-transform 130ms ease-out;
	-webkit-transition:-webkit-transform 130ms ease-out;
	transition:transform 130ms ease-out
}
.drillDown--past {
	-moz-transform:translateX(-100%);
	-ms-transform:translateX(-100%);
	-o-transform:translateX(-100%);
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%)
}
.drillDown--future {
	-moz-transform:translateX(100%);
	-ms-transform:translateX(100%);
	-o-transform:translateX(100%);
	-webkit-transform:translateX(100%);
	transform:translateX(100%)
}
.login-form {
	background:#FAFAFA;
	line-height:1.6;
	padding:20px
}
.login-form .button {
	margin:10px 0
}
.login-form__or {
	border-top:1px solid #DADADA;
	margin:30px 0;
	position:relative
}
.login-form__or:after {
	background:#FAFAFA;
	color:#AAA;
	content:"or";
	display:block;
	font-size:16px;
	line-height:20px;
	text-align:center;
	position:absolute;
	left:50%;
	margin-left:-20px;
	top:-12px;
	width:40px
}
@media only screen and (min-width: 1024px) {
.login-form {
background:transparent;
padding:10px;
width:230px
}
.login-form__or:after {
background:#F3F3F3
}
}
.shoji__fixtures {
	display:none
}
@media only screen and (min-width: 320px) {
.csstransforms3d .shoji {
overflow-x:hidden
}
.csstransforms3d .shoji__door {
-moz-box-shadow:rgba(0, 0, 0, 0.2) 0 0 20px;
-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 0 20px;
box-shadow:rgba(0, 0, 0, 0.2) 0 0 20px;
-moz-transition:-moz-transform 130ms ease-out;
-o-transition:-o-transform 130ms ease-out;
-webkit-transition:-webkit-transform 130ms ease-out;
transition:transform 130ms ease-out;
overflow:hidden
}
.csstransforms3d .shoji__fixtures {
display:block
}
.csstransforms3d .shoji__fixture {
display:none;
position:absolute;
top:0;
width:265px;
background:#e3e3e3
}
.csstransforms3d .shoji__fixture--left {
left:0
}
.csstransforms3d .shoji__fixture--right {
right:0
}
.csstransforms3d .shoji__lattice {
-webkit-tap-highlight-color:transparent;
display:none;
position:absolute;
left:0;
top:0;
width:100%;
height:100%
}
.csstransforms3d .shoji--opened .shoji__door {
-webkit-transform:perspective(0) translateX(0);
transform:perspective(0) translateX(0);
-moz-transform:perspective(1px) translateX(0)
}
.csstransforms3d .shoji--left .shoji__door {
-webkit-transform:perspective(0) translateX(265px);
transform:perspective(0) translateX(265px);
-moz-transform:perspective(1px) translateX(265px)
}
.csstransforms3d .shoji--right .shoji__door {
-webkit-transform:perspective(0) translateX(-265px);
transform:perspective(0) translateX(-265px);
-moz-transform:perspective(1px) translateX(-265px)
}
.csstransforms3d .shoji--left, .csstransforms3d .shoji--right {
position:relative
}
.csstransforms3d .shoji--left .shoji__lattice, .csstransforms3d .shoji--right .shoji__lattice {
display:block
}
.csstransforms3d .shoji--left .shoji__fixture--revealed, .csstransforms3d .shoji--right .shoji__fixture--revealed {
display:block
}
}
@media only screen and (min-width: 1024px) {
.csstransforms3d .shoji--opened .shoji__door, .csstransforms3d .shoji--left .shoji__door, .csstransforms3d .shoji--right .shoji__door {
-moz-transform:none;
-ms-transform:none;
-o-transform:none;
-webkit-transform:none;
transform:none
}
.csstransforms3d .shoji--opened .shoji__lattice, .csstransforms3d .shoji--opened .shoji__fixture, .csstransforms3d .shoji--left .shoji__lattice, .csstransforms3d .shoji--left .shoji__fixture, .csstransforms3d .shoji--right .shoji__lattice, .csstransforms3d .shoji--right .shoji__fixture {
display:none
}
}
.banner {
	background:#FFF;
	line-height:30px;
	text-align:center
}
.modal{
    text-align: left;
}
.banner__container {
*zoom:1;
	clear:both;
	float:none;
	margin:0 auto;
	max-width:1240px;
	position:relative
}
.banner__container:after {
	content:"";
	display:table;
	clear:both
}
.banner__logo, .banner__account, .banner__main-nav-toggle {
    margin: 10px 20px;
}
.banner__main-nav-toggle {
	margin-left:14px
}
.banner__account, .banner__main-nav-toggle {
	position:absolute;
	top:0
}
.banner__main-nav-toggle {
	left:0
}
.no-js .banner__main-nav-toggle {
	display:none
}
.banner__account {
	right:0
}
.no-js .banner_account {
	display:none
}
.banner__account__link {
	text-decoration:none
}
.banner__account__link--signup {
	display:none
}
.banner__account__nav {
	display:none
}
.banner__account__image {
	background:#778390;
	color:#FFF;
	cursor:pointer;
	display:block;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	width:30px;
	height:30px
}
.loggedin .banner__account .banner__account__nav {
	display:block
}
.loggedin .banner .banner__account .banner__account__link--profile {
	display:block
}
.loggedin .banner .banner__account .banner__account__link--profile:focus, .loggedin .banner .banner__account .banner__account__link--profile:hover {
	display:block
}
.loggedin .banner__account__link--profile {
	border:none;
	padding:0
}
.loggedin .banner__account__link--login {
	display:none
}
@media only screen and (min-width: 1024px) {
.banner__main-nav-toggle {
display:none
}
.js .banner {
border-top:2px solid #e62b1e;
text-align:left;
height:60px;
line-height:58px
}
.js .banner__logo {
float:left;
margin:14px 10px 14px 20px
}
.js .banner__account {
float:right;
line-height:58px;
margin:0 20px 0 0;
position:static
}
.js .banner__account .banner__account__nav {
display:none
}
.js .banner__account__link {
color:#555
}
.js .banner__account__link:hover {
color:#222
}
.js .banner__account__badge {
bottom:auto;
left:10px;
top:24px;
margin-top:0.5em;
margin-left:-0.5em
}
.loggedin .banner__account {
margin:0 5px 0 -15px
}
.loggedin .banner__account__image {
margin-top:14px
}
.loggedin .banner__account__link--login {
display:none
}
.loggedin .banner__account .banner__account__nav {
display:block
}
.loggedin .banner__account .nav__link--placeholder {
height:60px;
width:50px
}
.loggedin .banner__account .nav__menu .nav__item .banner__account__link--profile {
height:60px
}
.loggedin .banner__account .nav__menu .nav__item .banner__account__link--profile:hover, .loggedin .banner__account .nav__menu .nav__item .nav__item .nav__link:hover {
cursor:pointer
}
.loggedin .banner__account .nav__item--active .nav__folder {
left:auto;
right:10px;
width:280px
}
}
@media only screen and (min-width: 1200px) {
.js .banner__logo {
margin-left:40px
}
.js .banner__account {
margin-right:40px
}
.js .banner__account__link--signup {
display:inline;
margin-left:15px
}
.loggedin .banner__account {
margin-right:25px
}
.loggedin .banner__account__link--signup {
display:none
}
.loggedin .banner__account .nav__item--active .nav__folder {
right:30px
}
}
.badge {
	background:#e62b1e;
	border-radius:20px;
	color:#FFF;
	font-weight:bold;
	font-size:10px;
	text-align:center;
	vertical-align:middle;
	-moz-box-shadow:rgba(0, 0, 0, 0.4) 0 0 1px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.4) 0 0 1px;
	box-shadow:rgba(0, 0, 0, 0.4) 0 0 1px;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	-moz-transition:opacity 250ms;
	-o-transition:opacity 250ms;
	-webkit-transition:opacity 250ms;
	transition:opacity 250ms;
	position:absolute;
	bottom:-0.5em;
	left:-0.5em;
	z-index:1;
	height:2em;
	line-height:2em;
	min-width:2em
}
.badge--visible {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
	opacity:0.99
}
.badge--notify {
	-moz-animation:badge-bounce 500ms;
	-webkit-animation:badge-bounce 500ms;
	animation:badge-bounce 500ms
}
@-moz-keyframes badge-bounce {
0% {
-moz-transform:scale(1, 1);
transform:scale(1, 1)
}
35% {
-moz-transform:scale(1.4, 1.4);
transform:scale(1.4, 1.4)
}
70% {
-moz-transform:scale(0.8, 0.8);
transform:scale(0.8, 0.8)
}
100% {
-moz-transform:scale(1, 1);
transform:scale(1, 1)
}
}
@-webkit-keyframes badge-bounce {
0% {
-webkit-transform:scale(1, 1);
transform:scale(1, 1)
}
35% {
-webkit-transform:scale(1.4, 1.4);
transform:scale(1.4, 1.4)
}
70% {
-webkit-transform:scale(0.8, 0.8);
transform:scale(0.8, 0.8)
}
100% {
-webkit-transform:scale(1, 1);
transform:scale(1, 1)
}
}
@keyframes badge-bounce {
0% {
-moz-transform:scale(1, 1);
-ms-transform:scale(1, 1);
-o-transform:scale(1, 1);
-webkit-transform:scale(1, 1);
transform:scale(1, 1)
}
35% {
-moz-transform:scale(1.4, 1.4);
-ms-transform:scale(1.4, 1.4);
-o-transform:scale(1.4, 1.4);
-webkit-transform:scale(1.4, 1.4);
transform:scale(1.4, 1.4)
}
70% {
-moz-transform:scale(0.8, 0.8);
-ms-transform:scale(0.8, 0.8);
-o-transform:scale(0.8, 0.8);
-webkit-transform:scale(0.8, 0.8);
transform:scale(0.8, 0.8)
}
100% {
-moz-transform:scale(1, 1);
-ms-transform:scale(1, 1);
-o-transform:scale(1, 1);
-webkit-transform:scale(1, 1);
transform:scale(1, 1)
}
}
.nav {
	font-size:16px;
	text-align:left;
	width:100%
}
.nav__menu {
	list-style-type:none;
	margin:0;
	padding:0
}
.nav__link {
	background:#e3e3e3;
	border-bottom:1px dotted #C1C1C1;
	color:#111;
	display:block;
	font-weight:bold;
	padding:10px 15px 10px 28px;
	text-decoration:none;
	position:relative
}
.nav__link:focus, .nav__link:hover {
	background:#E0E0E0
}
.nav__link--placeholder {
	display:none
}
.nav__menu .nav__menu .nav__link {
	background:#F5F5F5;
	font-weight:normal
}
.nav__menu .nav__menu .nav__link:focus, .nav__menu .nav__menu .nav__link:hover {
	background:#F0F0F0
}
.nav__item--foldable .nav__link:before {
	content:"\e800"
}
.nav__item--foldable .nav__link:before {
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
*zoom:1;
*display:inline;
	font-family:"paly-icon";
	font-style:normal;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	speak:none;
	-webkit-font-smoothing:antialiased;
	width:12px;
	height:12px;
	line-height:13px;
	font-size:12px;
	-moz-transition:-moz-transform 0.3s;
	-o-transition:-o-transform 0.3s;
	-webkit-transition:-webkit-transform 0.3s;
	transition:transform 0.3s;
	position:absolute;
	top:50%;
	left:9px;
	margin-top:-6px
}
.nav__item--foldable .nav__folder .nav__link:before {
	display:none
}
.nav__item--foldable.nav__item--active .nav__link:before {
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg)
}
.nav__menu .nav__item--disabled .nav__link, .nav__menu .nav__item--disabled .nav__link:focus, .nav__menu .nav__item--disabled .nav__link:hover {
	display:none
}
.nav__item__info {
	display:none
}
.nav__skip {
	background:transparent;
	font-size:12px;
	font-weight:normal;
	text-align:right
}
.js .nav__folder {
	display:none
}
.js .nav__skip {
	display:none
}
.js .nav--main {
	display:none
}
.js .nav--main--open {
	display:block
}
.nav__item__icon-outbound {
	width:13px;
	height:13px;
	line-height:14px;
	font-size:13px;
	color:#888;
	margin-left:5px;
	position:relative;
	top:-2px
}
@media only screen and (min-width: 1024px) {
.js .nav--main {
display:block;
float:left;
margin-left: 20px;
width:auto
}
.home-body .nav--main {
    margin-left: 0;
}
.js .nav--main .nav__item {
border-left:1px solid transparent;
border-right:1px solid transparent;
border-top:2px solid #e62b1e;
float:left;
font-size:13px;
height:60px;
margin:-2px 5px 0;
padding:0
}
.js .nav--main .nav__item--active {
border-color:#EAEAEA
}
.js .nav--main .nav__item--active .nav__folder {
display:block;
-moz-transition:opacity 0.15s linear 0;
-o-transition:opacity 0.15s linear 0;
-webkit-transition:opacity 0.15s linear;
-webkit-transition-delay:0;
transition:opacity 0.15s linear 0
}
.js .nav--main .nav__item--active .nav__link--placeheld {
background:#FFF;
border-bottom:1px solid #FFF
}
.js .nav--main .nav__item--deactivating {
border-color:transparent
}
.js .nav--main .nav__item--deactivating .nav__folder {
opacity:0;
-moz-transition:opacity 0.2s ease-in 0.05s;
-o-transition:opacity 0.2s ease-in 0.05s;
-webkit-transition:opacity 0.2s ease-in;
-webkit-transition-delay:0.05s;
transition:opacity 0.2s ease-in 0.05s
}
.js .nav--main .nav__item--deactivating .nav__link--placeheld {
background:transparent;
border-bottom:none
}
.js .nav--main .nav__menu .nav__item--disabled .nav__link, .js .nav--main .nav__menu .nav__item--disabled .nav__link:focus, .js .nav--main .nav__menu .nav__item--disabled .nav__link:hover {
color:#BBB;
cursor:default;
display:block
}
.js .nav--main .nav__link {
background:transparent;
border:none;
color:#555;
line-height:59px;
padding:0 10px
}
.js .nav--main .nav__link:before {
display:none
}
.js .nav--main .nav__button {
line-height:1.6;
position:absolute;
bottom:0;
right:0
}
.js .nav--main .nav__link--placeheld {
position:absolute;
z-index:1000004
}
.js .nav--main .nav__link--placeholder {
display:block;
position:static;
visibility:hidden
}
.js .nav--main .nav__folder {
-moz-box-shadow:rgba(0, 0, 0, 0.2) 0 0 25px;
-webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 0 25px;
box-shadow:rgba(0, 0, 0, 0.2) 0 0 25px;
background:#FFF;
/*border-bottom:2px solid #e62b1e;*/
border-top:1px solid #DDD;
display:none;
position:absolute;
left:0;
top:58px;
z-index:1000003;
padding:20px 0;
width:900px
}
.nav__link--placeheld:hover .nav__folder{
    display: block;
}
.js .nav--main .nav__folder .nav__menu {
padding:0 20px;
overflow:hidden
}
.js .nav--main .nav__folder .nav__item {
border:none;
border-top:1px solid #DDD;
height:90px;
padding:20px 0;
width:266.66667px;
margin:-1px 20px 0 0;
position:relative
}
.js .nav--main .nav__folder .nav__item--disabled .nav__link, .js .nav--main .nav__folder .nav__item--disabled .nav__link:hover {
cursor:default
}
.js .nav--main .nav__folder .nav__item--disabled .nav__link .nav__item__title, .js .nav--main .nav__folder .nav__item--disabled .nav__link .nav__item__info, .js .nav--main .nav__folder .nav__item--disabled .nav__link:hover .nav__item__title, .js .nav--main .nav__folder .nav__item--disabled .nav__link:hover .nav__item__info {
color:#CCC
}
.js .nav--main .nav__folder .nav__item__title {
color:#111;
font-size:14px;
font-weight:bold;
margin-bottom:4px
}
.js .nav--main .nav__folder .nav__item__info {
color:#888;
display:block
}
.js .nav--main .nav__folder .nav__link {
line-height:1.3;
padding:0
}
.js .nav--main .nav__folder .nav__link:hover {
background:transparent
}
.js .nav--main .nav__folder .nav__link:hover .nav__item__title {
color:#e62b1e
}
.js .nav--main .nav__folder .nav__link:hover .nav__item__icon-outbound {
color:#e62b1e
}
.js .main-nav-screen {
background:#000;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity:0;
bottom:0;
display:none;
height:100%;
position:fixed;
top:60px;
width:100%;
z-index:1000002
}
.js .main-nav-screen--active {
display:block
}
}
@media only screen and (min-width: 1200px) {
.js .nav--main .nav__folder .nav__menu {
padding:0 40px
}
.js .nav--main .nav__folder .nav__item {
width:246.66667px
}
}
.footer {
	border-top:2px solid #E22E29;
	color:#909090;
	padding:30px 0 0;
	text-align:center;
	font-size:13px;
	font-size:0.92857rem
}
.footer__logo {
	margin-bottom:30px
}
.footer__section {
	margin-bottom:30px;
	text-align:left
}
.footer__title {
	color:#343434;
	margin-bottom:1em;
	font-size:13px;
	font-size:0.92857rem
}
.footer__links {
	list-style:none;
	margin:0;
	padding:0
}
.footer__link {
	color:#909090;
	font-weight:700;
	text-decoration:none
}
.footer__link:hover {
	text-decoration:underline
}
.footer__content {
	position:relative
}
.footer__services {
	background:#242424;
	border-top:2px solid #2F2F2F;
	font-size:14px;
	font-size:1rem
}
.footer__services__container {
	padding:0
}
.footer__service {
	display:block;
	border-bottom:1px solid #1D1D1D;
	border-top:1px solid #2F2F2F;
	color:#FFF;
	font-weight:700;
	margin:0;
	padding:10px 0;
	text-decoration:none
}
.footer__service:hover {
	background:#2D2D2D;
	color:#EEE
}
.footer__service--info {
	color:#818181;
	font-weight:400;
	font-size:12px;
	font-size:0.85714rem
}
.footer__service--info:hover {
	background:transparent
}
.footer__additional {
	border-top:1px solid #EBEBEB;
	line-height:1.2;
	padding-top:30px
}
.footer__additional__sidenote {
	color:#D8D8D8;
	font-size:15px;
	margin-top:2px
}

@media only screen and (min-width: 768px) {
.footer {
font-size:12px;
font-size:0.85714rem
}
.footer__logo {
left:0;
position:absolute;
top:0
}
.footer__title {
height:2.5em
}
.footer__section {
padding:0 30px;
float:left;
width:25%
}
.footer__section--form {
float:none;
width:auto
}
.footer__content {
overflow:hidden;
padding-left:130px
}
.footer__content__copy, .footer__content__links, .footer__content__forms {
}
.footer__content__forms{
    float: left;
    overflow: hidden;
}
.footer__content__copy {
text-align:left;
padding:0 30px
}
.footer__services {
line-height:2;
font-size:12px;
font-size:0.85714rem
}
.footer__services__container {
padding:0 20px
}
.footer__service {
border:none;
float:left;
margin-right:20px
}
.footer__service:hover {
background:transparent;
text-decoration:underline
}
.footer__service--info {
clear:both;
text-align:left;
margin-right:0;
padding:0 0 10px;
width:100%;
font-size:12px;
font-size:0.85714rem
}
.footer__service--info:hover {
text-decoration:none
}
.footer__additional {
padding:30px 0 0
}
}
@media only screen and (min-width: 1024px) {
.footer__section {
float:left;
width:25%
}
.footer__section--form {
width:auto
}
.footer__content__links {
width:70%
}
.footer__content__forms {
width:30%
}
.footer__services__container {
padding:0 20px
}
.footer__service--info {
clear:none;
float:right;
padding:10px 0;
width:auto
}
}
@media only screen and (min-width: 1200px) {
.footer__services__container {
padding:0 40px
}
}
.footer-newsletter__options {
	list-style:none;
	margin:0 0 1em;
	padding:0;
	overflow:hidden;
	width:100%
}
.footer-newsletter__option {
	float:left;
	margin-right:20px
}
.footer-newsletter__signup-email-group {
	margin-bottom:0
}
.footer-newsletter__error-wrapper {
	margin-bottom:25px
}
.footer-newsletter__error {
	color:#A00;
	margin:1em 0 1em
}
.footer-newsletter__error, .footer-newsletter__success {
	display:none
}
@media only screen and (min-width: 1024px) {
.footer-newsletter {
border-left:1px solid #E8E8E8
}
}
.latcher {
	min-height:200px
}
.latcher__back {
	background:#EAEAEA;
	border-bottom:1px dotted #B2B2B2;
	display:block;
	font-size:16px;
	font-weight:700;
	padding:7px 15px 7px 30px;
	position:relative;
	text-decoration:none
}
.latcher__back:before {
	content:"\e012"
}
.latcher__back:before {
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
*zoom:1;
*display:inline;
	font-family:"icons";
	font-style:normal;
	font-weight:normal;
	text-align:center;
	vertical-align:middle;
	speak:none;
	-webkit-font-smoothing:antialiased;
	width:12px;
	height:12px;
	line-height:13px;
	font-size:12px;
	position:absolute;
	top:50%;
	left:9px;
	margin-top:-6px
}
.main-search {
	background:#e3e3e3;
	border-bottom:1px solid #CCC;
	padding:9px
}
.main-search__content {
	position:relative;
    line-height: 0;
    top: 14px;
}
.home-body .main-search__content {
	position:relative;
    line-height: 0;
    top: 8px;
}
.main-search__input {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background:#FFF;
	border:1px solid #D4D4D4;
	font-size:16px;
	padding:7px 25px 7px 5px;
	vertical-align:middle;
	width:100%;
	-webkit-appearance:none
}
.main-search__button {
    border: medium none;
    bottom: 4px;
    padding: 0;
    position: absolute;
    right: 2px;
}
.js .main-search {
	display:none
}
.js .shoji__fixtures .main-search {
	display:block
}
@media only screen and (min-width: 1024px) {
.js .main-search {
display:block;
background:transparent;
border:none;
float:right;
margin:0 20px 0 0;
padding:0
}
.js .main-search__input {
font-size:13px;
width:260px
}
}
.opt {
	overflow:hidden
}
.opt__collapsed {
	background:#EEE;
	display:none;
	font-size:11px;
	line-height:18px;
	text-align:center;
	padding:3px 0;
	color:#555
}
.opt__open {
	background:#f7f7f7;
	color:#444;
	text-align:center;
	padding:10px 0
}
.opt__open a {
	color:#444
}
.opt__open a:hover {
	color:#000
}
.opt__open__inner {
	position:relative
}
.opt__close {
	display:block;
	padding:30px;
	position:absolute;
	top:0.8ex;
	right:0;
	margin-top:-30px;
	margin-right:-30px
}
.opt__close__icon {
	display:block
}
.opt__close, .opt__title {
	font-size:16px
}
.opt__title {
	color:#000;
	margin:0 20px 10px
}
.opt--collapsed .opt__collapsed {
	display:block
}
.opt--collapsed .opt__open {
	display:none
}
.opt__message__break {
	display:block
}
@media only screen and (min-width: 768px) {
.opt__title {
font-size:22px
}
}
@media only screen and (min-width: 1024px) {
.opt__collapsed {
text-align:right
}
.opt__version {
float:left
}
.opt__open {
text-align:left;
padding:20px 0
}
.opt__close, .opt__title {
font-size:30px;
letter-spacing:-0.03em
}
.opt__text {
width:70%
}
.opt__title {
margin:0 0 10px 0
}
.opt__message__break {
display:inline
}
}
.popup--tailed:after {
	content:" ";
	display:block;
	height:0;
	position:absolute;
	width:0
}
.popup--tailed--center:after {
	left:50%;
	margin-left:-10px
}
.popup--tailed--left:after, .popup--tailed--right:after {
	border-top:10px solid transparent;
	border-bottom:10px solid transparent
}
.popup--tailed--left:after {
	border-right:10px solid #000;
	left:-10px
}
.popup--tailed--right:after {
	border-left:10px solid #000;
	right:-10px
}
.popup--tailed--middle:after {
	top:50%;
	margin-top:-10px
}
.popup--tailed--top:after, .popup--tailed--bottom:after {
	border-left:10px solid transparent;
	border-right:10px solid transparent
}
.popup--tailed--top:after {
	border-bottom:10px solid #000;
	border-top:none;
	top:-10px
}
.popup--tailed--bottom:after {
	border-top:10px solid #000;
	bottom:-10px
}
.popup {
	-moz-transition:opacity 0.3s ease-out;
	-o-transition:opacity 0.3s ease-out;
	-webkit-transition:opacity 0.3s ease-out;
	transition:opacity 0.3s ease-out;
	background:#000;
	display:none;
	padding:10px;
	position:absolute;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	z-index:100
}
.popup--tailed--bottom {
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 3px 20px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 3px 20px;
	box-shadow:rgba(0, 0, 0, 0.3) 0 3px 20px
}
.popup--tailed--top {
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 0 -3px 20px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 0 -3px 20px;
	box-shadow:rgba(0, 0, 0, 0.3) 0 -3px 20px
}
.popup--tailed--left {
	-moz-box-shadow:rgba(0, 0, 0, 0.3) -3px 0 20px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.3) -3px 0 20px;
	box-shadow:rgba(0, 0, 0, 0.3) -3px 0 20px
}
.popup--tailed--right {
	-moz-box-shadow:rgba(0, 0, 0, 0.3) 3px 0 20px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.3) 3px 0 20px;
	box-shadow:rgba(0, 0, 0, 0.3) 3px 0 20px
}
.popup--positioning {
	display:block;
	opacity:0
}
.popup--show {
	display:block;
	opacity:0.8
}
.popup--hide {
	opacity:0
}
.popup--inverse {
	background:#fff
}
.popup--inverse.popup--show {
	opacity:1
}
.popup--inverse.popup--tailed--left:after {
	border-right-color:#fff
}
.popup--inverse.popup--tailed--right:after {
	border-left-color:#fff
}
.popup--inverse.popup--tailed--top:after {
	border-bottom-color:#fff
}
.popup--inverse.popup--tailed--bottom:after {
	border-top-color:#fff
}
.submenu {
	margin-bottom:20px
}
.submenu__list {
	list-style:none;
	margin:0;
	padding:0
}
.submenu__heading, .submenu__item {
	border-bottom:1px dotted #B2B2B2;
	padding:10px 0
}
.submenu__heading:first-child, .submenu__item:first-child {
	padding-top:0
}
.submenu__heading .submenu__item, .submenu__item .submenu__item {
	border-bottom:0;
	padding:0;
	position:relative
}
.submenu__heading .submenu__item .submenu__link, .submenu__item .submenu__item .submenu__link {
	font-weight:400
}
.submenu__heading {
	margin-bottom:10px
}
.submenu__link {
	line-height:2;
	text-decoration:none
}
.submenu__item--active>.submenu__link {
	color:#e62b1e
}
.inverse .submenu__item--active>.submenu__link {
	color:#fff
}
.js .submenu__lists {
	display:none
}
.submenu--opened .submenu__lists {
	display:block
}
.submenu__item__count {
	position:absolute;
	right:0;
	padding:7px 8px 7px 0;
	top:0;
	line-height:2;
	color:#999
}
@media only screen and (min-width: 320px) {
.js.csstransforms3d .submenu {
font-size:16px
}
.js.csstransforms3d .submenu__heading {
border:none;
padding-bottom:0;
margin-bottom:-10px
}
.js.csstransforms3d .submenu__heading__link {
display:none
}
.js.csstransforms3d .submenu--opened {
margin-bottom:20px
}
.js.csstransforms3d .submenu--opened .submenu__lists {
display:none
}
.js.csstransforms3d .submenu--fixture {
background:#F5F5F5;
margin:0
}
.js.csstransforms3d .submenu--fixture .submenu__heading, .js.csstransforms3d .submenu--fixture .submenu__item {
border-bottom:1px dotted #C1C1C1
}
.js.csstransforms3d .submenu--fixture .submenu__item {
position:relative;
padding:0
}
.js.csstransforms3d .submenu--fixture .submenu__heading {
margin:0
}
.js.csstransforms3d .submenu--fixture .submenu__link {
display:block;
padding:7px 15px
}
.js.csstransforms3d .submenu--fixture .submenu__item .submenu__list {
margin-top:-7px
}
.js.csstransforms3d .submenu--fixture .submenu__item .submenu__item {
border-bottom:none
}
.js.csstransforms3d .submenu--fixture .submenu__item .submenu__item .submenu__link {
padding-top:0
}
.js.csstransforms3d .submenu--fixture .submenu__heading__link {
font-weight:700
}
.js.csstransforms3d .submenu--fixture .submenu__heading__link:before {
display:none
}
.js.csstransforms3d .submenu--fixture .submenu__lists {
display:block
}
}
@media only screen and (min-width: 1024px) {
.js.csstransforms3d .submenu {
font-size:14px;
font-size:1rem;
background:transparent
}
.submenu {
padding-right:40px
}
.submenu__heading {
display:none
}
.js .submenu__lists {
display:block
}
.submenu__item:last-child {
border-bottom:none
}
.submenu__item__count {
position:static;
float:right;
padding:0;
line-height:2;
color:#999
}
.js.csstransforms3d .submenu--opened .submenu__lists {
display:block
}
}
.watermark {
	color:#FCFCFC;
	font-family:Verdana, Arial, Tahoma, sans-serif;
	font-size:7px;
	font-weight:100;
	letter-spacing:1px;
	line-height:1.1;
	pointer-events:none;
	position:absolute;
	top:0;
	right:20px
}
@media only screen and (min-width: 480px) {
.watermark {
right:20px
}
}
@media only screen and (min-width: 768px) {
.watermark {
right:20px
}
}
@media only screen and (min-width: 1024px) {
.watermark {
right:20px
}
}
@media only screen and (min-width: 1200px) {
.watermark {
right:40px
}
}
.account__fixture__welcome {
	border-bottom:1px solid #DDD;
	padding:10px 15px
}
@media only screen and (min-width: 1024px) {
.account__poparoo {
line-height:1.4;
margin:0 40px
}
.account__poparoo__menu {
list-style:none;
margin:20px 0;
padding:0
}
.account__poparoo__item {
border-bottom:1px solid #DDD;
line-height:2;
overflow:hidden;
width:100%
}
.account__poparoo__item:last-child {
border-bottom:none
}
.account__poparoo__item a {
text-decoration:none
}
.account__poparoo__item--active a {
color:#e62b1e
}
.account__poparoo__later {
display:none;
float:right
}
.account__poparoo__later:hover {
text-decoration:underline
}
.account__poparoo__later__count {
background:#999;
color:#f3f3f3;
border-radius:4px;
display:inline-block;
font-size:11px;
line-height:1.2;
padding:2px 4px
}
.account__poparoo__later--populated {
display:inline
}
.account__poparoo__leave {
font-weight:normal;
text-decoration:none
}
.account__poparoo__leave:hover {
text-decoration:underline
}
}
.retirement {
	display:none
}
.retirement--open {
	display:block
}
.retirement__area {
	background:#FAFAFA;
	border-bottom:2px solid #E6E6E6;
	border-top:1px solid #E6E6E6;
	padding:20px 0
}
.retirement__title {
	font-size:29px;
	font-size:2.07143rem;
	color:#e62b1e;
	font-weight:900;
	letter-spacing:-1px;
	line-height:1.1
}
.retirement__leadin {
	font-size:20px;
	font-size:1.42857rem
}
.home-main .retirement__area {
	border-top:none
}
.talks-main .retirement__area {
	border-bottom:none
}
@media only screen and (min-width: 600px) {
.retirement__area {
padding:30px 0
}
}
@media only screen and (min-width: 1024px) {
.retirement__area {
padding:40px 0
}
}
.ad {
	text-align:center
}
.ad__unit {
	margin-left:-20px;
	margin-right:-20px
}
@media only screen and (min-width: 480px) {
.ad__unit {
margin-left:0;
margin-right:0
}
}
.alert {
	padding:15px
}
.alert--flash {
	padding:15px 0
}
.alert, .alert--info {
	background:#cfeaf5
}
.alert--success {
	background:#cfeaf5
}
.alert--warning {
	background:#fcf1cc
}
.alert--danger {
	background:#f2d2cf
}
.alert__container {
	padding-right:20px;
	position:relative
}
.alert__close {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity:0.6;
	position:absolute;
	top:0;
	right:0
}
.alert__close:hover {
filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity:1
}
@media only screen and (min-width: 768px) {
.alert--flash {
padding:30px 0
}
}
.button {
	background-image:-moz-linear-gradient(#f5f5f5, #e6e6e6);
	background-image:-o-linear-gradient(#f5f5f5, #e6e6e6);
	background-image:-webkit-linear-gradient(#f5f5f5, #e6e6e6);
	background-image:linear-gradient(#f5f5f5, #e6e6e6);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
*zoom:1;
*display:inline;
	border:1px solid #ccc;
	cursor:pointer;
	font-size:14px;
	font-weight:bold;
	line-height:24px;
	padding:7px 30px;
	text-decoration:none;
	text-shadow:0 1px 0 white
}
.button:hover {
	background-image:-moz-linear-gradient(#eeeeee, #dddddd);
	background-image:-o-linear-gradient(#eeeeee, #dddddd);
	background-image:-webkit-linear-gradient(#eeeeee, #dddddd);
	background-image:linear-gradient(#eeeeee, #dddddd)
}
.button:hover:disabled {
	background-image:-moz-linear-gradient(#f5f5f5, #e6e6e6);
	background-image:-o-linear-gradient(#f5f5f5, #e6e6e6);
	background-image:-webkit-linear-gradient(#f5f5f5, #e6e6e6);
	background-image:linear-gradient(#f5f5f5, #e6e6e6)
}
.button, .inverse .button, .inverse .button:hover {
	color:#444
}
.button[disabled], .button--disabled {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	opacity:0.6
}
.button--medium {
*zoom:1;
filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFECECEC', endColorstr='#FFDBDBDB');
	background-image:-moz-linear-gradient(#ececec, #dbdbdb);
	background-image:-o-linear-gradient(#ececec, #dbdbdb);
	background-image:-webkit-linear-gradient(#ececec, #dbdbdb);
	background-image:linear-gradient(#ececec, #dbdbdb);
	border:1px solid #bbb;
	color:#333
}
.button--medium:hover {
	background-image:-moz-linear-gradient(#e3e3e3, #d4d4d4);
	background-image:-o-linear-gradient(#e3e3e3, #d4d4d4);
	background-image:-webkit-linear-gradient(#e3e3e3, #d4d4d4);
	background-image:linear-gradient(#e3e3e3, #d4d4d4);
	color:#111
}
.button--medium:hover:disabled {
	background-image:-moz-linear-gradient(#ececec, #dbdbdb);
	background-image:-o-linear-gradient(#ececec, #dbdbdb);
	background-image:-webkit-linear-gradient(#ececec, #dbdbdb);
	background-image:linear-gradient(#ececec, #dbdbdb)
}
.button--small {
	padding:2px 20px
}
.button--blue {
*zoom:1;

	background-image:-moz-linear-gradient(#009fe8, #0090d3);
	background-image:-o-linear-gradient(#009fe8, #0090d3);
	background-image:-webkit-linear-gradient(#009fe8, #0090d3);
	background-image:linear-gradient(#009fe8, #0090d3);
	border:0;
	color:white;
	text-shadow:none
}
.button--blue:hover {
	background-image:-moz-linear-gradient(#02adfe, #029de7);
	background-image:-o-linear-gradient(#02adfe, #029de7);
	background-image:-webkit-linear-gradient(#02adfe, #029de7);
	background-image:linear-gradient(#02adfe, #029de7)
}

.button--blue:hover:disabled {
	background-image:-moz-linear-gradient(#009fe8, #0090d3);
	background-image:-o-linear-gradient(#009fe8, #0090d3);
	background-image:-webkit-linear-gradient(#009fe8, #0090d3);
	background-image:linear-gradient(#009fe8, #0090d3)
}
.inverse .button--blue, .inverse .button--blue:hover {
	color:#FFF
}
.button--dark, .button--highlight {
*zoom:1;
filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF555555', endColorstr='#FF222222');
	background-image:-moz-linear-gradient(#555555, #222222);
	background-image:-o-linear-gradient(#555555, #222222);
	background-image:-webkit-linear-gradient(#555555, #222222);
	background-image:linear-gradient(#555555, #222222);
	border-color:transparent;
	color:#FFF;
	font-weight:bold;
	text-shadow:0 1px 0 #111
}
.button--dark:hover, .button--highlight:hover {
	background-image:-moz-linear-gradient(#666666, #2d2d2d);
	background-image:-o-linear-gradient(#666666, #2d2d2d);
	background-image:-webkit-linear-gradient(#666666, #2d2d2d);
	background-image:linear-gradient(#666666, #2d2d2d);
	color:#FFF
}
.button--dark:hover:disabled, .button--highlight:hover:disabled {
	background-image:-moz-linear-gradient(#555555, #222222);
	background-image:-o-linear-gradient(#555555, #222222);
	background-image:-webkit-linear-gradient(#555555, #222222);
	background-image:linear-gradient(#555555, #222222)
}
.inverse .button--dark, .inverse .button--dark:hover, .inverse .button--highlight, .inverse .button--highlight:hover {
	color:#FFF
}
.button--labeled {
	background:-moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -moz-linear-gradient(#666666, #4d4d4d);
	background:-o-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -o-linear-gradient(#666666, #4d4d4d);
	background:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -webkit-linear-gradient(#666666, #4d4d4d);
	background:linear-gradient(to right, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), linear-gradient(#666666, #4d4d4d);
	overflow:hidden;
	padding:7px 8px
}
.button--labeled:hover {
	background:-moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -moz-linear-gradient(#5e5e5e, #4f4f4f);
	background:-o-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -o-linear-gradient(#5e5e5e, #4f4f4f);
	background:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -webkit-linear-gradient(#5e5e5e, #4f4f4f);
	background:linear-gradient(to right, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), linear-gradient(#5e5e5e, #4f4f4f)
}
.button--labeled:active {
	background:-moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), #555;
	background:-o-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), #555;
	background:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), #555;
	background:linear-gradient(to right, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), #555
}
.button__icon {
	width:22px;
	height:22px;
	line-height:23px;
	font-size:22px;
	float:left;
	position:relative;
	margin-right:15px
}
.button__label {
	display:block;
	overflow:hidden
}
.button--facebook {
	background:#3E5B96;
	border-color:#3E5B96;
	background-image:-moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -moz-linear-gradient(#4a6cb0, #3f5c97);
	background-image:-o-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -o-linear-gradient(#4a6cb0, #3f5c97);
	background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -webkit-linear-gradient(#4a6cb0, #3f5c97);
	background-image:linear-gradient(to right, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), linear-gradient(#4a6cb0, #3f5c97)
}
.button--facebook:hover {
	background-image:-moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -moz-linear-gradient(#4366ad, #3a598f);
	background-image:-o-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -o-linear-gradient(#4366ad, #3a598f);
	background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -webkit-linear-gradient(#4366ad, #3a598f);
	background-image:linear-gradient(to right, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), linear-gradient(#4366ad, #3a598f)
}
.button--facebook:hover:disabled {
	background-image:-moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -moz-linear-gradient(#4a6cb0, #3f5c97);
	background-image:-o-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -o-linear-gradient(#4a6cb0, #3f5c97);
	background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), -webkit-linear-gradient(#4a6cb0, #3f5c97);
	background-image:linear-gradient(to right, rgba(0, 0, 0, 0.2) 38px, rgba(0, 0, 0, 0) 38px), linear-gradient(#4a6cb0, #3f5c97)
}
.button--highlight {
	background-image:-moz-linear-gradient(#e62b1e, #cf271b);
	background-image:-o-linear-gradient(#e62b1e, #cf271b);
	background-image:-webkit-linear-gradient(#e62b1e, #cf271b);
	background-image:linear-gradient(#e62b1e, #cf271b);
	padding:7px 30px
}
.button--highlight:hover {
	background:#e62b1e
}
.button--highlight:hover:disabled {
	background-image:-moz-linear-gradient(#e62b1e, #cf271b);
	background-image:-o-linear-gradient(#e62b1e, #cf271b);
	background-image:-webkit-linear-gradient(#e62b1e, #cf271b);
	background-image:linear-gradient(#e62b1e, #cf271b)
}
.button--dark[disabled], .button--dark.button--disabled, .button--highlight[disabled], .button--highlight.button--disabled, .button--facebook[disabled], .button--facebook.button--disabled {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	opacity:0.2
}
.button--link {
	background:transparent;
	border:none;
	text-decoration:underline
}
.button--link:hover {
	background:transparent
}
.button--link:hover:disabled {
	background:transparent
}
.button--narrow, .button--small {
	padding-left:10px;
	padding-right:10px
}
.button--midsize, .button--wide {
	display:block;
	margin:0 auto;
	max-width:12em;
	text-align:center;
	width:100%
}
.button--wide {
	max-width:50em
}
@media only screen and (min-width: 768px) {
.button--small {
font-size:13px
}
}
.heading__deco__sizer {
	display:none
}
@media only screen and (min-width: 768px) {
.heading {
overflow:hidden;
*zoom:1
}
.heading__body {
float:left
}
.heading__deco {
float:right
}
.heading__deco__sizer {
display:inline
}
}
@media only screen and (min-width: 320px) {
.media {
display:block;
overflow:hidden;
_overflow:visible;
zoom:1
}
.media__image {
float:left;
margin-right:20px;
text-align:center
}
.media__image--alt {
float:right;
margin-left:20px;
margin-right:0
}
.media__image--thumb {
width:100px
}
.media__message {
word-wrap:break-word;
overflow-wrap:break-word;
overflow:hidden;
_overflow:visible;
zoom:1
}
.media--oh-v .media__image {
float:none;
margin-bottom:10px;
margin-right:0;
width:100%
}
.media--oh-v .media__image--alt {
float:none;
margin-bottom:10px;
margin-left:0;
margin-right:0
}
}
@media only screen and (min-width: 480px) {
.media__image--thumb {
width:30%
}
.media--xs-v .media__image {
float:none;
margin-bottom:10px;
margin-right:0;
width:100%
}
.media--xs-v .media__image--alt {
float:none;
margin-bottom:10px;
margin-left:0;
margin-right:0
}
.media--xs-h .media__image {
float:left;
margin-bottom:0;
margin-right:20px;
width:auto
}
.media--xs-h .media__image--alt {
float:right;
margin-bottom:0;
margin-left:20px;
margin-right:0
}
.media--xs-h .media__image--thumb {
width:30%
}
}
@media only screen and (max-width: 480px){
.ad__unit img{
    width: 100%;
}    
}

@media only screen and (min-width: 768px) {
.media--sm-v .media__image {
float:none;
margin-bottom:10px;
margin-right:0;
width:100%
}
.media--sm-v .media__image--alt {
float:none;
margin-bottom:10px;
margin-left:0;
margin-right:0
}
.media--sm-h .media__image {
float:left;
margin-bottom:0;
margin-right:20px;
width:auto
}
.media--sm-h .media__image--alt {
float:right;
margin-bottom:0;
margin-left:20px;
margin-right:0
}
.media--sm-h .media__image--thumb {
width:30%
}
}
@media only screen and (min-width: 1024px) {
.media--lg-v .media__image {
float:none;
margin-bottom:10px;
margin-right:0;
width:100%
}
.media--lg-v .media__image--alt {
float:none;
margin-bottom:10px;
margin-left:0;
margin-right:0
}
.media--lg-h .media__image {
float:left;
margin-bottom:0;
margin-right:20px;
width:auto
}
.media--lg-h .media__image--alt {
float:right;
margin-bottom:0;
margin-left:20px;
margin-right:0
}
.media--lg-h .media__image--thumb {
width:30%
}
}
.play-link {
	display:block;
	position:relative
}
.play-link:before {
	content:"\e013"
}
.play-link:before {
	background-color:#333;
	color:#FFF;
	font-family:icons;
	font-size:14px;
	font-weight:normal;
	line-height:30px;
	text-align:center;
	width:30px;
	height:30px;
	position:absolute;
	bottom:0;
	right:0;
	z-index:1
}
.play-link:hover:before {
	background-color:#222
}
.thumb {
	display:block;
	overflow:hidden;
	position:relative;
	width:100%
}
.thumb__sizer {
	display:block;
	padding-bottom:56.25%
}
.thumb__tugger {
	text-align:center;
	white-space:nowrap;
	word-break:normal;
	position:absolute;
	_position:static;
	bottom:-100px;
	top:-100px;
	left:0;
	right:0
}
.thumb__image {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	width:100%
}
.thumb__aligner {
	display:inline-block;
	vertical-align:middle;
	height:100%
}
.thumb__duration {
	font-size:11px;
	font-size:0.78571rem;
	background:#111;
	color:#fff;
	display:block;
	line-height:1.2;
	opacity:0.8;
	padding:2px 3px 2px;
	position:absolute;
	bottom:3px;
	right:3px
}
.thumb--square .thumb__sizer {
	padding-bottom:100%
}
.thumb--square .thumb__tugger {
	bottom:0;
	top:0;
	left:-100px;
	right:-100px
}
.thumb--square .thumb__image {
	height:100%;
	width:auto
}
.thumb--tv .thumb__sizer {
	padding-bottom:75%
}
.thumb--crop-top .thumb__tugger {
	top:0
}
.thumb--crop-top .thumb__aligner {
	display:none
}
.thumb--autoplay:after {
	-moz-transition:opacity 0.3s, -moz-transform 0.4s;
	-o-transition:opacity 0.3s, -o-transform 0.4s;
	-webkit-transition:opacity 0.3s, -webkit-transform 0.4s;
	transition:opacity 0.3s, transform 0.4s;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	-moz-transform:scale(0.8, 0.8);
	-ms-transform:scale(0.8, 0.8);
	-o-transform:scale(0.8, 0.8);
	-webkit-transform:scale(0.8, 0.8);
	transform:scale(0.8, 0.8);
	background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 512 512'><path fill='#FFFFFF' d='M255.99 12c-134.743 0-243.99 109.247-243.99 244s109.247 244 243.99 244c134.763 0 244.01-109.247 244.01-244s-109.247-244-244.01-244zm0 464.203c-121.597 0-220.193-98.597-220.193-220.203 0-121.617 98.597-220.192 220.193-220.192 121.627 0 220.213 98.576 220.213 220.192 0 121.606-98.586 220.203-220.213 220.203zM172.911 144.972l221.189 111.031-221.189 111.025v-222.056z'/></svg>");
	content:" ";
	display:block;
	width:25%;
	height:0;
	padding-bottom:25%;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-12.5%;
	margin-left:-12.5%
}
.thumb--autoplay:hover:after {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
	opacity:0.99;
	-moz-transform:scale(1, 1);
	-ms-transform:scale(1, 1);
	-o-transform:scale(1, 1);
	-webkit-transform:scale(1, 1);
	transform:scale(1, 1)
}
/*# sourceMappingURL=global.css.map */

@media (min-width: 768px) and (max-width: 1022px){
    .footer__section.first {
    padding-left: 0;
    width: 192px;
}

.footer__section {
    width: 24%;
}
.footer__content__forms {
    float: left;
    overflow: hidden;
    padding-left: 192px;
}
.footer__section--form {
    float: none;
    width: auto;
}
    
}

.g-logo-medium {
    /*height: 52px;
	width: 466px;*/
    background: url("../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 32px;
    width: 270px;
}
.footer__services {
	height: 60px;
	background: #4f4f4f;
}
.footer {
	border: none;
	color: #000;
	font-size: 0.92857rem;
	padding: 30px 0 0;
	text-align: center;
	background: #d0d0ce;
}
.footer__link {
    color: #666;
}
.footer__title {
	color: #000;
	font-size: 0.92857rem;
	margin-bottom: 1em;
}
.footer__content {
	padding-left: 0;
}
.footer__section.first {
	padding-left: 0;
}
.footer-newsletter {
	border: none;
}

#newsletter-signup-email {
    border-radius: 8px;
    height: 33px;
    margin-bottom: 10px;
}
.footer-newsletter__error-wrapper {
    margin-bottom: 12px;
}
#newsletter-signup-details .button {
    background: #9f9e9e;
    border: 1px solid #ccc;
    border-radius: 8px;
	color:#000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    text-shadow: none;
}
#newsletter-signup-details p,#newsletter-signup-details ul {
    margin: 0 0 0.5em;
}
