.home-header {
	border-bottom:2px solid #D6D6D6
}
.home-header__intro {
	display:none
}
@media only screen and (min-width: 1024px) {
.home-header {
border-bottom:none
}
.js .home-header__intro {
    display: block;
    padding: 15px 0 10px;
    position: relative;
}
.js .home-header__logo, .js .home-header__motto {
float:left
}
/*.js .home-header__motto {
color:#888;
font-size:42px;
font-weight:100;
line-height:52px;
margin-left:10px
}*/

.js .home-header__motto {
    color: #666465;
    font-family: "Arial Rounded MT",Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 23px;
    margin-left: 10px;
    margin-top: 8px;
    vertical-align: bottom;
    float: right;
}
.js .home-header__motto__asterisk {
   
color:#e82e1f;
}
.js .home-header__annotation {
display:table;
float:right;
min-height:52px;
width:300px
}
.js .home-header__annotation__content {
display:table-cell;
vertical-align:middle;
font-size:11px;
font-size:0.78571rem;
color:#666;
font-family:Georgia, "Times New Roman", Times, serif;
font-style:italic;
text-align:right
}
.js .home-header__annotation__asterisk {
color:#e62b1e
}
.js .home-header .banner {
border-top:1px solid white;
border-bottom:2px solid #e62b1e;
border-bottom:2px solid #e0e0e0;
height:50px
}
.js .home-header .banner__container {
padding-left:18px
}
.js .home-header .banner, .js .home-header .banner__account {
line-height:49px
}
.js .home-header .banner__logo {
display:none
}
.js .home-header .banner__account__image {
margin-top:10px
}
.js .home-header .banner__account .nav__link--placeholder, .js .home-header .banner__account .nav__menu .nav__item .banner__account__link--profile {
height:50px
}
.js .home-header .nav__item {
border-top:1px solid #F5F5F5;
border-top:1px solid white;
height:50px;
margin-top:-1px;
font-size:15px
}
.js .home-header .nav__item--active {
border-color:#DDD
}
.js .home-header .nav__item--deactivating {
border-color:transparent
}
.js .home-header .nav__link {
line-height:49px
}
.js .home-header .nav__folder {
top:49px
}
}
@media only screen and (min-width: 1200px) {
.js .home-header .banner__container {
padding-left:38px
}
}
.list {
	margin:20px 0;
	padding:0
}
.list__item {
	border-top:1px solid #7d7d7d;
	margin-top:20px;
	padding-top:20px
}
.list__item:first-child {
	border-top:none;
	margin-top:0;
	padding-top:0
}
.section {
	margin:20px 0
}
.section:before {
	content:" ";
	display:block;
	height:8px;
	margin-bottom:20px;
	width:100%
}
.section>*:last-child, .section>*:last-child>*:last-child, .section>*:last-child>*:last-child>*:last-child {
	margin-bottom:0
}
.section--minor {
	border-top:1px solid #E5E5E5;
	padding-top:20px
}
.section--minor:before {
	display:none
}
.home-top{
    border-bottom: solid 1px #d8d8d8;
}
.section--space {
	margin-bottom:0
}
.section--space:before {
	display:none
}
.section--except-first:first-child {
	border-top:none;
	margin:0;
	padding:0
}
.section--except-first:first-child:before {
	display:none
}
@media only screen and (min-width: 1024px) {
.section--space {
margin-bottom:0;
margin-top:30px
}
.section--space:before {
display:none
}
.section--except-first:first-child {
border-top:none;
margin:0;
padding:0
}
.section--except-first:first-child:before {
display:none
}
}
@media only screen and (min-width: 1200px) {
.section {
margin:20px 0
}
.section:before {
margin-bottom:10px
}
.section--minor {
margin:30px 0;
padding-top:30px
}
.section--space {
margin:30px 0 0
}
.section--except-first:first-child {
border-top:none;
margin:0;
padding:0
}
.section--except-first:first-child:before {
display:none
}
}
.spotlight {
	margin:20px 0
}
.spotlight__item {
	display:block;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px dotted #B2B2B2;
	font-weight:normal;
	text-decoration:none
}
.spotlight__image img {
	height:auto;
	width:80px;
	max-width:none
}
.spotlight__item__description {
	line-height:1.2
}
.spotlight__rule {
	border:0
}
.spotlight__arrow {
	display:none
}
@media only screen and (min-width: 768px) {
.spotlight {
margin:26px 0
}
.spotlight__item {
text-align:center;
position:relative;
padding-bottom:0;
margin-bottom:0;
border-bottom:none;
padding:10px
}
.spotlight__image img {
height:100px;
width:auto
}
.spotlight__rule {
padding:12px 0 0 0;
border-bottom:2px solid #e8e8e8
}
}
@media only screen and (min-width: 1024px) {
.spotlight__item {
text-align:left;
background:#f7f7f7;
padding-right:34px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px
}
.spotlight__item:hover .spotlight__arrow {
color:#888
}
.spotlight__image img {
height:80px;
max-width:none;
display:block
}
.spotlight__arrow {
display:inline-block;
position:absolute;
right:10px;
top:44px;
color:#AAA;
width:18px;
height:18px;
line-height:19px;
font-size:18px
}
.spotlight__rule {
border:0;
padding:0
}
}
.spotlight-custom__container, .spotlight-custom__content {
	position:relative
}
.spotlight-custom__container {
	background-position:0 -999px;
	background-repeat:no-repeat
}
@media only screen and (min-width: 480px) {
.spotlight-custom__container {
padding:0;
background-position:right bottom
}
}
@media only screen and (min-width: 768px) {
.spotlight-custom__container {
padding:0;
background-position:50% bottom
}
.spotlight-custom {
background:none
}
}
@media only screen and (min-width: 1024px) {
.spotlight-custom__container {
height:210px;
padding:0;
background-position:right bottom
}
}
.spotlight-custom__newsletter__intro {
	font-size:15px;
	font-size:1.07143rem
}
.spotlight-custom__newsletter__form {
*zoom:1;
	margin:10px 0
}
.spotlight-custom__newsletter__form:after {
	content:"";
	display:table;
	clear:both
}
.spotlight-custom__newsletter__form__email {
	float:left;
	margin-bottom:10px;
	width:90%
}
.spotlight-custom__newsletter__form__submit {
	background-image:none;
	background:white;
	float:left;
	padding-left:20px;
	padding-right:20px;
	color:#f37966
}
.spotlight-custom__newsletter__form__submit:hover {
	background-image:none;
	background-color:#f6f6f6
}
.spotlight-custom__newsletter__options, .spotlight-custom__newsletter__error, .spotlight-custom__newsletter__success {
	color:#888;
	font-size:13px;
	font-size:0.92857rem;
*zoom:1
}
.inverse .spotlight-custom__newsletter__options, .inverse .spotlight-custom__newsletter__error, .inverse .spotlight-custom__newsletter__success {
	color:#fff
}
.spotlight-custom__newsletter__options:after, .spotlight-custom__newsletter__error:after, .spotlight-custom__newsletter__success:after {
	content:"";
	display:table;
	clear:both
}
.spotlight-custom__newsletter__option {
	float:left;
	margin-right:20px
}
.spotlight-custom__newsletter__error {
	color:#B00
}
.spotlight-custom__newsletter__error, .spotlight-custom__newsletter__success {
	display:none;
	margin-top:10px
}
.spotlight-custom__newsletter__success {
	color:#666
}
.inverse .spotlight-custom__newsletter__success {
	color:#fff
}
@media only screen and (min-width: 480px) {
.spotlight-custom__newsletter__form__email {
float:left;
margin-right:15px;
width:70%
}
}
@media only screen and (min-width: 768px) {
.spotlight-custom__newsletter__form__submit {
font-size:15px
}
}
.background-1 {
	background-image:url(/temp/takeover_yir_2.jpg)
}
.spotlight-custom__content {
	text-align:center;
	padding:20px 0
}
.spotlight-custom__lead {
	font-size:34px;
	font-size:2.42857rem;
	line-height:normal;
	font-weight:300;
	text-align:center;
	padding-bottom:10px;
	text-rendering:optimizeLegibility;
	color:#50b3bf
}
.spotlight-custom__button {
	color:white;
	text-transform:uppercase;
	display:inline-block;
	font-size:14px;
	font-size:1rem;
	font-weight:700;
	background:#50b3bf;
	border-radius:3px;
	padding:8px 22px
}
.spotight-custom__button-icon {
	width:14px;
	height:14px;
	line-height:15px;
	font-size:14px;
	position:relative;
	top:-2px
}
@media only screen and (min-width: 768px) {
.spotlight-custom {
background-color:white
}
}
@media only screen and (min-width: 1024px) {
.spotlight-custom {
background:none;
margin-bottom:24px
}
.spotlight-custom__content {
padding-top:36px
}
.spotlight-custom__lead {
padding-bottom:23px;
font-size:51px;
font-size:3.64286rem
}
.spotlight-custom__button {
font-size:16px;
font-size:1.14286rem
}
.spotight-custom__button-icon {
font-size:16px;
font-size:1.14286rem;
margin-left:5px
}
}
.page-nav {
	font-size:16px;
	height:40px;
	line-height:20px;
	text-align:center
}
.page-nav__prev, .page-nav__next, .page-nav__dot__link {
	display:inline-block;
	vertical-align:middle;
*vertical-align:auto;
*zoom:1;
*display:inline;
	color:#BBB;
	padding:10px 5px
}
.page-nav__prev:hover, .page-nav__next:hover, .page-nav__dot__link:hover {
	color:#666
}
.page-nav__prev, .page-nav__next {
	color:#CCC;
	margin:0 5px;
	text-decoration:none
}
.page-nav__prev__icon, .page-nav__next__icon {
	width:11px;
	height:18px;
	line-height:15px;
	font-size:14px
}
.page-nav__prev .page-nav__prev__icon{
    background: url('../images/small-left-arrow.png') no-repeat;
}
.page-nav__next .page-nav__next__icon{
    background: url('../images/small-right-arrow.png') no-repeat;
}
.talk-grid__next .icon {
    height: 36px;
    width: 36px;
}
.icon_arrow-alt-right{
    background: url('../images/large-right-arrow.png') no-repeat;
}
.icon_arrow-alt-left{
    background: url('../images/large-left-arrow.png') no-repeat;
    
}
.page-nav__dots {
	display:inline
}
.page-nav__dot {
	display:inline
}
.page-nav__dot--active .page-nav__dot__link {
	color:#666
}
.page-nav__dot--active .page-nav__dot__icon:before {
/*	content:"\e047"*/
}
.page-nav__dot__icon {
	width:17px;
	height:17px;
	line-height:13px;
	font-size:12px;
    background: url('../images/empty-dot.png') no-repeat;
}
.page-nav__dot--active .page-nav__dot__icon {
    background: url('../images/filled-dot.png') no-repeat;
}
@media only screen and (min-width: 768px) {
.page-nav__prev, .page-nav__next {
margin:0 15px
}
}
.talk-grid, * {
	-webkit-tap-highlight-color:transparent
}
.talk-grid {
	-moz-user-select:-moz-none;
	-ms-user-select:none;
	-webkit-user-select:none;
	user-select:none;
*zoom:1;
	clear:both;
	float:none;
	margin:0 auto;
	max-width:1240px;
	max-width:1160px
}
.talk-grid:after {
	content:"";
	display:table;
	clear:both
}
.talk-grid__container {
filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity:1;
	-moz-animation:grid-in 300ms;
	-webkit-animation:grid-in 300ms;
	animation:grid-in 300ms
}
.talk-grid--loading .talk-grid__container {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0;
	-moz-animation:grid-out 400ms;
	-webkit-animation:grid-out 400ms;
	animation:grid-out 400ms;
	visibility:hidden
}
.talk-grid__expander {
	margin:-1px
}
.talk-grid__inner {
	height:0;
	width:100%;
	padding-top:84.375%;
	position:relative
}
.talk-grid__content {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0
}
.talk-grid__flipper {
	display:none
}
.talk-grid__page__inner {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0
}
.talk-grid__page__content {
	width:100%;
	height:100%;
	position:relative
}
.talk-grid__tile {
	float:left;
	width:50%
}
.talk-grid__page--page-1 .talk-grid__tile--tile-1 {
	width:100%
}
.talk-grid__tile__inner {
	padding-top:56.25%;
	position:relative
}
.talk-grid__tile__marker {
	background:#e62b1e;
	color:#FFF;
	padding:0 15px;
	line-height:36px;
	height:36px;
	position:absolute;
	top:0;
	left:20px
}
.talk-grid__tile__frame {
	padding:1px;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0
}
.talk-grid__tile__content {
	display:block;
	overflow:hidden;
	text-decoration:none;
	width:100%;
	height:100%;
	position:relative
}
.talk-grid__tile__thumb {
	width:100%;
	position:absolute;
	top:0;
	left:0
}
.talk-grid__tile__overlay {
	background-image:-moz-linear-gradient(top, rgba(0, 0, 0, 0) 20%, #000000);
	background-image:-o-linear-gradient(top, rgba(0, 0, 0, 0) 20%, #000000);
	background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 20%, #000000);
	background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, #000000);
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0
}
.talk-grid__tile__details {
	font-size:15px;
	font-size:1.07143rem;
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.6);
	color:#FFF;
	width:100%;
	padding:10px;
	position:absolute;
	bottom:0;
	left:0
}
.talk-grid__tile__details__speaker {
	display:none
}
.talk-grid__tile__details__title {
	font-weight:900;
	line-height:1.1;
	max-height:4.4em;
	overflow:hidden
}
.talk-grid__tile__supplementary {
	display:none;
	text-shadow:none
}
.talk-grid__tile--hero {
	width:100%
}
.talk-grid__tile--placeholder {
	display:none
}
.talk-grid__tile__dummy {
	background:#333;
	width:100%;
	height:100%
}
.talk-grid__footer {
	margin-top:10px
}
@-moz-keyframes grid-in {
0% {
opacity:0
}
10% {
opacity:0
}
100% {
opacity:1
}
}
@-webkit-keyframes grid-in {
0% {
opacity:0
}
10% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes grid-in {
0% {
opacity:0
}
10% {
opacity:0
}
100% {
opacity:1
}
}
@-moz-keyframes grid-out {
0% {
opacity:1;
visibility:visible
}
90% {
opacity:0;
visibility:visible
}
100% {
visibility:hidden
}
}
@-webkit-keyframes grid-out {
0% {
opacity:1;
visibility:visible
}
90% {
opacity:0;
visibility:visible
}
100% {
visibility:hidden
}
}
@keyframes grid-out {
0% {
opacity:1;
visibility:visible
}
90% {
opacity:0;
visibility:visible
}
100% {
visibility:hidden
}
}
@media only screen and (min-width: 600px) {
.talk-grid__tile__details {
line-height:1.5;
padding:4%
}
.talk-grid__tile__marker {
left:4%
}
.talk-grid__tile__details__speaker {
display:block;
font-weight:400
}
.talk-grid__tile__details__title {
line-height:1.2;
max-height:4.8em
}
.talk-grid__page--page-1 .talk-grid__tile--tile-1 .talk-grid__tile__details__title {
font-size:23px;
font-size:1.64286rem
}
}
@media only screen and (min-width: 768px) {
.talk-grid__expander {
margin:-2px
}
.talk-grid__inner {
z-index:1
}
.talk-grid__content .swipeview-active {
z-index:1
}
.talk-grid__page__content {
-moz-transition:opacity 0.3s;
-o-transition:opacity 0.3s;
-webkit-transition:opacity 0.3s;
transition:opacity 0.3s;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
opacity:0.2;
cursor:pointer
}
.talk-grid__page__content:hover {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=45);
opacity:0.45
}
.talk-grid__page--current .talk-grid__page__content {
filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
opacity:1;
cursor:default
}
.talk-grid__inner {
padding-top:56.25%
}
.talk-grid__tile__overlay {
-moz-transition:all 0.3s ease-out;
-o-transition:all 0.3s ease-out;
-webkit-transition:all 0.3s ease-out;
transition:all 0.3s ease-out
}
.talk-grid__tile__details {
font-size:13px;
font-size:0.92857rem;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
opacity:0.3;
min-height:0;
-moz-transition:min-height 200ms ease-out;
-o-transition:min-height 200ms ease-out;
-webkit-transition:min-height 200ms ease-out;
transition:min-height 200ms ease-out
}
.talk-grid__tile__details__title {
max-height:none;
overflow:visible
}
.talk-grid__tile__meta {
font-size:11px;
font-size:0.78571rem;
color:#AAA;
margin:4px 0
}
.talk-grid__tile__description {
font-size:12px;
font-size:0.85714rem;
font-weight:normal
}
.talk-grid__tile__frame {
padding:2px
}
.talk-grid__tile {
position:absolute;
width:25%;
-moz-transition-property:width, top, left;
-o-transition-property:width, top, left;
-webkit-transition-property:width, top, left;
transition-property:width, top, left;
-moz-transition-duration:0.2s;
-o-transition-duration:0.2s;
-webkit-transition-duration:0.2s;
transition-duration:0.2s;
-moz-animation:tile-hover-out 200ms;
-webkit-animation:tile-hover-out 200ms;
animation:tile-hover-out 200ms;
z-index:auto
}
.talk-grid__page--current .talk-grid__tile__details {
filter:progid:DXImageTransform.Microsoft.Alpha(enabled=false);
opacity:1
}
.talk-grid__page--page-1 .talk-grid__tile--tile-1, .talk-grid__tile--tile-1, .talk-grid__tile--tile-2 {
width:50%
}
.talk-grid__page--page-1 .talk-grid__tile--tile-1 .talk-grid__tile__details__title, .talk-grid__tile--tile-1 .talk-grid__tile__details__title, .talk-grid__tile--tile-2 .talk-grid__tile__details__title {
font-size:28px;
font-size:2rem;
letter-spacing:-1px;
line-height:1.1
}
.talk-grid__page--page-1 .talk-grid__tile--tile-1 .talk-grid__tile__meta, .talk-grid__page--page-1 .talk-grid__tile--tile-1 .talk-grid__tile__description, .talk-grid__tile--tile-1 .talk-grid__tile__meta, .talk-grid__tile--tile-1 .talk-grid__tile__description, .talk-grid__tile--tile-2 .talk-grid__tile__meta, .talk-grid__tile--tile-2 .talk-grid__tile__description {
font-size:13px;
font-size:0.92857rem
}
.talk-grid__tile--hover {
-moz-animation:tile-hover-in 200ms;
-webkit-animation:tile-hover-in 200ms;
animation:tile-hover-in 200ms;
z-index:1
}
.talk-grid__tile--hover .talk-grid__tile__content {
-moz-box-shadow:rgba(30, 30, 30, 0.8) 0 0 30px;
-webkit-box-shadow:rgba(30, 30, 30, 0.8) 0 0 30px;
box-shadow:rgba(30, 30, 30, 0.8) 0 0 30px
}
.talk-grid__tile--hover .talk-grid__tile__overlay {
height:200%;
top:-100%
}
.talk-grid__tile--hover .talk-grid__tile__details {
min-height:100%
}
.talk-grid__tile--deco .talk-grid__tile__details {
top:0;
bottom:auto
}
.talk-grid__tile--deco .talk-grid__tile__supplementary {
-moz-animation:tile-supplementary-deco-in 200ms;
-webkit-animation:tile-supplementary-deco-in 200ms;
animation:tile-supplementary-deco-in 200ms;
display:block;
opacity:1
}
.talk-grid__tile--marked .talk-grid__tile__details {
padding-top:50px
}
@-moz-keyframes tile-hover-in {
0% {
z-index:auto
}
90% {
z-index:2
}
100% {
z-index:2
}
}
@-webkit-keyframes tile-hover-in {
0% {
z-index:auto
}
90% {
z-index:2
}
100% {
z-index:2
}
}
@keyframes tile-hover-in {
0% {
z-index:auto
}
90% {
z-index:2
}
100% {
z-index:2
}
}
@-moz-keyframes tile-hover-out {
0% {
z-index:1
}
90% {
z-index:1
}
100% {
z-index:auto
}
}
@-webkit-keyframes tile-hover-out {
0% {
z-index:1
}
90% {
z-index:1
}
100% {
z-index:auto
}
}
@keyframes tile-hover-out {
0% {
z-index:1
}
90% {
z-index:1
}
100% {
z-index:auto
}
}
@-moz-keyframes tile-supplementary-deco-in {
0% {
display:block;
opacity:0
}
10% {
opacity:0
}
100% {
opacity:1
}
}
@-webkit-keyframes tile-supplementary-deco-in {
0% {
display:block;
opacity:0
}
10% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes tile-supplementary-deco-in {
0% {
display:block;
opacity:0
}
10% {
opacity:0
}
100% {
opacity:1
}
}
}
@media only screen and (min-width: 1024px) {
.talk-grid__expander {
margin:-2px
}
.talk-grid__inner {
padding-top:56.25%
}
.talk-grid__tile__frame {
padding:2px
}
.talk-grid__tile {
cursor:pointer;
width:20%
}
.talk-grid__tile__details {
font-size:15px;
font-size:1.07143rem
}
.talk-grid__tile__meta {
font-size:13px;
font-size:0.92857rem;
margin:5px 0
}
.talk-grid__tile__description {
font-size:14px;
font-size:1rem
}
.talk-grid__page--page-1 .talk-grid__tile--tile-1 .talk-grid__tile__meta, .talk-grid__page--page-1 .talk-grid__tile--tile-1 .talk-grid__tile__description, .talk-grid__tile--tile-1 .talk-grid__tile__meta, .talk-grid__tile--tile-1 .talk-grid__tile__description, .talk-grid__tile--tile-2 .talk-grid__tile__meta, .talk-grid__tile--tile-2 .talk-grid__tile__description, .talk-grid__tile--tile-3 .talk-grid__tile__meta, .talk-grid__tile--tile-3 .talk-grid__tile__description {
font-size:15px;
font-size:1.07143rem
}
.talk-grid__tile--tile-2, .talk-grid__tile--tile-3 {
width:40%
}
.talk-grid__page--page-1 .talk-grid__tile--tile-1, .talk-grid__tile--tile-1 {
width:60%
}
.talk-grid__tile--placeholder {
display:block
}
.talk-grid__page--page-1 .talk-grid__tile--tile-1 .talk-grid__tile__details__speaker, .talk-grid__tile--tile-1 .talk-grid__tile__details__speaker {
font-size:20px;
font-size:1.42857rem
}
.talk-grid__page--page-1 .talk-grid__tile--tile-1 .talk-grid__tile__details__title, .talk-grid__tile--tile-1 .talk-grid__tile__details__title {
font-size:46px;
font-size:3.28571rem;
letter-spacing:-2px;
line-height:1
}
.talk-grid__page--page-1 .talk-grid__tile--tile-1 .talk-grid__tile__meta, .talk-grid__tile--tile-1 .talk-grid__tile__meta {
margin:12px 0
}
.talk-grid__tile--tile-2 .talk-grid__tile__details__title, .talk-grid__tile--tile-3 .talk-grid__tile__details__title {
font-size:28px;
font-size:2rem;
letter-spacing:-1px;
line-height:1.1
}
.talk-grid__tile--tile-2 .talk-grid__tile__meta, .talk-grid__tile--tile-3 .talk-grid__tile__meta {
margin:8px 0
}
}
@media only screen and (min-width: 1278px) {
.talk-grid__flipper {
color:#555;
display:block;
position:absolute;
top:50%;
margin-top:-20px
}
.talk-grid__prev {
left:-48px
}
.talk-grid__prev .icon {
width:36px;
height:36px;
line-height:37px;
font-size:36px
}
.talk-grid__next {
right:-48px
}
.talk-grid__next .icon {
width:36px;
height:36px;
line-height:37px;
font-size:36px
}
}
@media only screen and (min-width: 1300px) {
.talk-grid__prev {
left:-60px
}
.talk-grid__next {
right:-60px
}
}
.home-stack {
	margin:20px 0
}
.home-stack--highlight {
	background:#F3F3F3;
	margin:0;
	padding:20px 0
}
.home-about {
	text-align:center
}
.home-grid__filters--small {
	margin-bottom:20px
}
.home-grid__filters--large {
	display:none
}
.home-features__ad {
	margin:10px 0 0;
	padding-top:20px;
	border-top:1px solid #DDD;
	text-align:center
}
.home-features__ad .ad__text {
	font-size:13px;
	font-size:0.92857rem;
	line-height:1.69231;
	color:#666;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	margin-bottom:20px
}
.home-playlists__playlist-item {
	margin-bottom:20px
}
.home-conference__postcard {
	width:100%
}
.home-conference__theme {
	font-size:22px;
	font-size:1.57143rem;
	font-weight:700;
	line-height:1.4
}
.home-conference__meta {
	font-size:16px;
	font-size:1.14286rem;
	font-weight:300;
	line-height:1.2;
	color:#666
}
.explore__arrow {
	display:inline-block;
	margin-left:6px;
	width:18px;
	height:18px;
	line-height:19px;
	font-size:18px
}
.home-top {
	clear:both
}
.home-top__alpha, .home-top__omega {
	margin:20px 0 0
}
.flexbox .home-top, .flexboxlegacy .home-top {
	display:-moz-box;
	-moz-box-orient:vertical;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	display:-ms-flexbox;
	-ms-flex-direction:column;
	display:-webkit-flex;
	-webkit-flex-direction:column;
	display:flex;
	flex-direction:column
}
.flexbox .home-top__alpha, .flexbox .home-top__omega, .flexboxlegacy .home-top__alpha, .flexboxlegacy .home-top__omega {
	width:100%
}
.flexbox .home-top__alpha, .flexboxlegacy .home-top__alpha {
	-webkit-order:2;
	order:2
}
.flexbox .home-top__omega, .flexboxlegacy .home-top__omega {
	-webkit-order:1;
	order:1
}
@media only screen and (min-width: 768px) {
.home-grid__filters--small {
display:none
}
.home-grid__filters--large {
font-size:16px;
font-size:1.14286rem;
color:#CCC;
display:block;
margin-bottom:20px
}
.home-grid__filter {
font-size:15px;
font-size:1.07143rem;
color:#888;
font-weight:normal;
margin:0 10px;
text-decoration:none
}
.home-grid__filter:hover {
color:#333
}
.home-grid__filter:last-child {
margin-right:0
}
.home-grid__filter--outbound {
font-weight:bold;
border-left:1px solid #CCC;
padding-left:20px
}
.home-grid__filter--current {
color:#e62b1e;
font-weight:bold
}
.home-grid__filter--label {
font-weight:normal;
color:#333;
font-style:italic;
display:block
}
.home-about__container {
padding:0 50px
}
.home-playlists__playlist-item {
margin-bottom:0
}
.flexbox .home-top__alpha, .flexboxlegacy .home-top__alpha {
-webkit-order:1;
order:1;
margin:20px 0 0
}
.flexbox .home-top__omega, .flexboxlegacy .home-top__omega {
-webkit-order:2;
order:2
}
}
@media only screen and (min-width: 1024px) {
.home-grid__filter--label {
display:inline
}
.home-grid__filters {
margin-left:2px
}
.home-grid__filter {
margin:0 10px
}
.home-stack {
margin:20px 0
}
.home-stack--highlight {
margin:0;
padding:40px 0
}
.home-features__title {
font-size:18px;
font-size:1.28571rem;
line-height:1.22222
}
.home-features__ad {
margin:0;
padding-top:0;
border-top:none
}
}
@media only screen and (min-width: 1200px) {
.home-features__ad {
padding-left:40px;
width:340px
}
.home-about__container {
padding:0 100px
}
}
/*# sourceMappingURL=home.css.map */


