.section_box{
     padding: 8px;
    border: solid 1px #D6D6D6;
    margin-bottom: 15px;
}
.carousel-control.left,
.carousel-control.right {
    background: none;
}
.carousel-control {
    bottom: 0;
    color: #fff;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 0;
}
.advance-table-container{
    overflow: scroll;
    border: solid 1px #9D9D9D;
    clear: both;
    height: 500px;
}
.table-header .table{
    margin-bottom: 0;
}
.modal-body .modal-title{
    margin-bottom: 10px;
}
.dropdown-menu a{
    text-decoration: none;
}
.drop-files {
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #ddd;
    margin: 15px 0;
    padding: 50px;
    text-align: center;
}
.parent-node{
     color: #ff0000;
    font-family: Arial;
    font-size: 14pt;
}
.modal-backdrop.fade {
    opacity: 0 !important;
}
.drop-files .aligncenter{
    margin-bottom: 10px;
}
.table-header .table tr td{
    border-right: solid 1px #9D9D9D;
    background: #d0d0ce;
    font-size: 0.92857rem;
    font-weight: 600;
    width: 188px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding: 4px 6px;
}
.table-body .table tr td{
    border-right: solid 1px #9D9D9D;
    border-bottom: solid 1px #9D9D9D;
    background-color: #fff;
    width: 188px;
}
.table .sr-no{
    text-align: right;
    width: 70px !important;
}
.table-body .table .small i{
    visibility: hidden;
}
.table-body .table .hover-class .small i{
    visibility: visible;
}
.table-body .table tr td.small,
.table-header .table tr td.small
{
    width: 20px;
    height: 28px;
}
.table-body .table tr td.large,
.table-header .table tr td.large
{
    width: 344px;
}
.table .medium{
     width: 188px;
}
.table .large{
    width: 344px;
}
.table-body .table tr:hover td{
    background-color: #eee;
}
.modal-dialog {
    margin: 150px auto 30px;
}
.advance-table-container .left-side,
.advance-table-container .right-side{
    float: left;
}
.advance-table-container .table-body{
    clear: both;
}
.advance-table-container .left-side {
/*    position: absolute;*/
    width: 68px;
}
.advance-table-container .right-side {
   /* padding-left: 68px;*/
    width: 1030px;
}
.form-group .comment-box{
    width: 100%;
    height: 137px;
    padding: 6px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -6px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -6px;
}
.carousel {
    padding: 5px 4%;
}

.carousel-control {
    color: #969696;
    font-size: 20px;
    opacity: 0.5;
    text-shadow: none;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    font-size: 20px;
    height: 20px;
    margin-top: -15px;
    width: 20px;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #666;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
        position: absolute; 
        top: 0; 
        left: 0; 
        height: 100%;
        width: 100%;
 }      
 
 @media only screen and (max-width: 767px) {
    .exec-form .m3 {
    text-align: left;
}
.banner__account__link--login {
    display: block;
    height: 40px;
}
.button--dark{
     margin: 0 0 10px;
}
.modal{
    text-align: left !important;
}
.exec-dropdown p, .exec-form p {
    margin-bottom: 12px;
}
.exec-dropdown .dropdown-menu {
    min-width: 280px;
}
.nav > li > a {
    padding: 7px;
}
.nav {
    font-size: 14px;
}
 }  